[2020-05-31 19:25] heyitspuggo commented on #1041
Are you still working on this? I'd be happy to take it if you aren't.

[2020-05-31 20:04] anouarkappitou commented on #1277
I'm going to close this issue and open another PR as mentioned by @andytom.

[2020-05-31 20:04] #1277 closed

[2020-05-31 21:38] catleeball commented on #1009
I would be happy to see this too! Especially if right-side split is a formatting modifier that can be applied to any module.

In zsh before using starship, I kept a running clock and the exec time on the right side of my term, and would love to do the same with starship. ⭐ 🚢

[2020-05-31 21:39] Aelnor commented on #1041
@heyitspuggo yep, I am. Going to share my work this week

[2020-05-31 22:21] catleeball opened #1281 "Periodic prompt refresh (enables: Time module live updates, prompt animations, etc)"
## Feature Request

It would be very nice if Starship could refresh the current prompt on a timer. This would allow interesting additional features for modules, and provide avenues for new modules that would be infeasible without a periodic updating prompt.

See alternative 1 below regarding a live prompt using event-driven prompt updates.

This would enable things like:
- extending the Time modul

[2020-05-31 22:22] catleeball commented on #1281
I might break out the event-based update bug, and the example implementations into bugs, noting the caveat that this would need to first be implemented.

[2020-06-01 09:19] emarsk commented on #1279
I see. Thanks for the quick reply. I got confused, especially because I tried with the `path` module, and it behaves exactly as I would expect.

[2020-06-01 16:31] crides commented on #1171
Thinking back to when I tried to config something like this myself, I don't think there's a way to properly support this in bash. As of bash 4.4, there's only a way to set different prompts for the 2 modes, but I don't think there's actually a way to detect which mode you're in.

[2020-06-01 16:44] andytom commented on #1281
I think this could be a really interesting feature to add however this is definitely not possible at the moment and I don't think it is going to be simple to implement. The main difficulties are going to be around getting this to work across the different shells that starship supports. Related issue https://github.com/starship/starship/issues/1124#issuecomment-616682179 might also be a good place

[2020-06-01 23:05] Adrian-Grimm commented on #1171
And for ZSH?

[2020-06-01 23:24] crides commented on #1171
I don't know the details of that. I looked this up because I couldn't get the vi prompt in powerline bash to work. But I'm not experiencing this issue on zsh, and the previous powerline setup also worked for zsh out of the box.

[2020-06-02 07:52] gnachman opened #1283 "vi mode prompt not updated when fish_mode_prompt overridden"
#### Current Behavior
Use this config.fish given below. Switch between insert and normal modes. Notice that the prompt does not change to indicate insert/normal vi mode.

The prompt should change between > and < depending on vi mode.

#### Additional context/Screenshots

This came up in https://gitlab.com/gnachman/iterm2/-/issues/8906.

When a user installs iTerm2's shell integration script, it ov

[2020-06-02 18:44] sandorex opened #1285 "Add support for container toolbox"
## Feature Request
Add a symbol like toolbox does by default as a module if env variable `TOOLBOX_PATH` is defined

It could be more complex like adding name of the container and such

[2020-06-03 05:12] catleeball commented on #1281
@andytom : Understood, thanks for the info! Reading the comment you link does make it sound like a major overhaul to get support everywhere.

[2020-06-03 15:25] #1145 closed

[2020-06-03 20:33] yacoob opened #1286 "SHLVL support"
## Feature Request

#### Describe the solution you'd like
`starship` could show the current value of `$SHLVL` which shows the "nesting level" of current shell. Having this in prompt is very useful for anyone who lanches custom shells as direct child of the one you're working with (eg. sudo, pipenv). This module should allow for inhibiting the display based on the value - for example normal shell w

[2020-06-04 18:30] m0nhawk opened #1288 "Fish - On completion, the cursor is being moved left"
#### Current Behavior
* Cursor is placed symbol on the left from position it was. The position is related to a number of languages added.

Gif record:
![ezgif com-optimize(2)](https://user-images.githubusercontent.com/8220926/83819190-dc4fb700-a68e-11ea-99a5-4da54b86d7e8.gif)

Position of cursor before and after `<TAB>` for 3 loaded modules:
[code]

#### Expected Behavior

* Cursor shouldn't move

[2020-06-05 01:46] Freaky commented on #828
Fixed in latest `sysinfo` release \o/

[2020-06-05 01:53] gregf commented on #828
w00t! thank you.

[2020-06-05 14:37] mnpw commented on #560
![image](https://user-images.githubusercontent.com/13679906/83888841-00cb9200-a768-11ea-96b5-269796743891.png)

VSCode integrated terminal adds more padding on top of this which I find very annoying.

[2020-06-05 16:16] chriskacerguis commented on #1175
So, it looks like you all are using GitHub actions to build things, but they don't yet support ARM64.  I'd be happy to "donate" (via AWS) an ARM64 server to use as a self-hosted runner for the build of this.

[2020-06-05 17:41] andytom commented on #1115
Note, this is still blocked on the upstream the issue @vladimyr noted above has been closed as a duplicate of https://github.com/elves/elvish/issues/814, which at time of writing is still open.

[2020-06-05 17:44] vladimyr commented on #1115
There are some efforts to resolve it https://github.com/elves/elvish/pull/1038 but that is still in the early phases.

[2020-06-05 17:47] hhlp commented on #1022
Additional to this, the ROOT account default shell is BASH, and if your $USER is under ZSH and your ROOT account is BASH, you should change your shell from BASH to ZSH for you ROOT one:

[code]

Regards.,

[2020-06-06 00:40] chipbuster commented on #1175
@chriskacerguis Thanks for the offer!

Do we know what target triple Windows on ARM uses?

[2020-06-06 01:14] chipbuster commented on #1288
Whoa, that's weird.

We see this sort of issue in zsh/bash fairly regularly when we've screwed up color escapes somewhere, but I don't think we've seen it in fish before.

Do you know which languages/modules cause this? It would help a lot in hunting things down.

[2020-06-06 03:06] m0nhawk commented on #1288
After some testing I found that for me it happening for the following modules: `package`, `python`, `elm`, `golang`.

The only module which didn't cause that: `nodejs`.

[2020-06-06 03:18] matchai commented on #1288
Looks like it happens for modules with emoji.
Can you please try running the following and seeing if it still happens:
[code]

[2020-06-06 03:44] m0nhawk commented on #1288
@matchai Wow! Nice catch.

I can't reproduce the issue with setting non-emoji symbols for Python/Elm/etc, so it's definitely because of the emoji.

[2020-06-06 03:45] #1288 closed

[2020-06-06 05:23] lzybkr commented on #1173
Another option is to statically link the CRT. You can do this by setting the environment variable:
[code]

[2020-06-06 07:36] patriksvensson commented on #1175
@chipbuster ARM64 on Windows uses the `aarch64-pc-windows-msvc` target.

[2020-06-06 10:45] ramki88 opened #1295 "Add in winget Package Manager"
## Feature Request

#### Describe the solution you'd like
Should be able to install with winget on windows [PM](https://github.com/microsoft/winget-cli)

[2020-06-06 15:25] basbebe opened #1296 "Feature Request: Taskwarrior Module"
## Feature Request
I think it would be nice to have a [Taskwarrior](https://taskwarrior.org/) module which shows a symbol or changes color if there are important tasks due today.
see https://youtu.be/zl68asL9jZA?t=1418

[2020-06-06 16:43] basbebe commented on #1271
I have more problems with Starship, Fish and Kitty (as pointed out above and [here](https://github.com/kovidgoyal/kitty/issues/2743)
In the following situations, a new prompt being emitted *where it should not):

    have text in the prompt line, press escape (vim normal mode)
    paste something from the clipboard
    cancel the command (CTRL + C)
    paste something using a kitten

<img width="7

[2020-06-07 03:28] vladimyr commented on #1295
That would require the creation of an MSI installer for the starship. IIRC current windows distribution channel is implemented as zipped binary download.

[2020-06-07 03:32] vladimyr commented on #1295
This would be probably a way to go https://github.com/volks73/cargo-wix but be warned that dealing with wix is painful → https://github.com/volks73/cargo-wix/blob/6aa0d76/tests/common/two.wxs

[2020-06-07 03:38] vladimyr commented on #1296
@basbebe It would be helpful if you could write down specific `taskwarior` CLI invocation/s that list those important due tasks.

[2020-06-07 09:45] adamshand commented on #1041
Another way of representing this that I really like is to change the colour of the directory to red (similar to how it works if you change to root).

That seems more immediately noticeable to me than another icon?

[2020-06-07 15:30] basbebe commented on #1296
- `task +DUETODAY` – list tasks that are due today
- `task +WEEK` – list tasks that are due this week
- `task +WEEK count` – show number of tasks that are due this week
- `task +OVERDUE` – list tasks that are overdue

https://taskwarrior.org/docs/tags.html
https://taskwarrior.org/docs/filter.html
Those are filters which return a non-zero status if they are empty.

[code]
get the decription of all

[2020-06-07 15:43] basbebe commented on #1271
If I start ZSH the problem does not persist.
fish + Spacefish + kitty show the same behavior

[2020-06-08 00:21] chipbuster commented on #1258
Looks like this was inadvertently added by #914.

Seems that the correct decision here would be to attempt to use sudo to elevate privileges if it's available, and inform the user that they have to spawn a shell with already-elevated privileges if that's not an option.

[2020-06-09 08:36] cristatus commented on #1285
I use this custom config:

[code]

[2020-06-09 12:53] daniel-white opened #1302 "Enhance dotnet support by supporting Directory.Build.{props,targets} and Packages.props"
## Feature Request

#### Is your feature request related to a problem? Please describe.
Not really, just willing to help contribute.

#### Describe the solution you'd like
There are a couple other files that may hint at a .NET directory:

* `Directory.Build.{props,targets}` is a way of configuring .NET projects one directory up from the project file. These are just standard MSBuild files. For inst

[2020-06-09 12:55] daniel-white commented on #1302
If it gets lost in the issue description itself, I'd be happy to submit a PR.

[2020-06-09 16:48] andytom commented on #1302
@daniel-white, thanks for the suggestion, I think this should just be a case of updating the module itself, the docs and adding some tests if you would like to open a PR. Let me know if you would like some help.

[2020-06-09 16:52] #957 closed

[2020-06-09 17:14] #159 closed

[2020-06-09 20:07] ransagy commented on #1302
Just throwing my 2cents in; a `Directory.build.props/targets` file can be in any folder from the csproj up to the root of the drive. MSBuild stops when its finds one (and each might have an `Import` clause that directs it to continue searching upwards) or when it hits the root.

[2020-06-09 20:29] daniel-white commented on #1302
@ransagy fair enough. i'm not sure if thats a behavior starship should replicate. i was merely suggesting that starship look for the presence of these files

[2020-06-09 22:21] #1258 closed

[2020-06-09 22:56] ransagy commented on #1302
No problem, I'm just pitching in here. I'm not yet sure what info we'd could show out of these; i didn't notice the dotnet module shows NuGet info, just SDK version. I suppose you could define the SDK somewhere in those, though.

[2020-06-09 23:16] daniel-white commented on #1302
@ransagy:  yea - the full sdk is generally specified in a `global.json` file which i think the module already accounts for

@andytom i'll take this if you want to assign it to me or do you have another process?

[2020-06-10 01:39] chipbuster commented on #1285
Unless there's a reason why the custom module doesn't do what we want, I think I'd consider the custom module presented here to be a solution.

Feel free to reopen if something else comes up.

[2020-06-10 01:39] #1285 closed

[2020-06-10 02:08] chipbuster commented on #382
I tested this on two of the platforms for which this bug was reported (Fedora Silverblue 31 & Manjaro Linux) and found that, while early versions showed this behaviour, it appears to have been unintentionally fixed by the release of v0.32.1, most likely due to the overhaul of the cmd_duration module that was merged in that release.

I'm going to close this bug for now. If you still have this probl

[2020-06-10 02:08] #382 closed

[2020-06-10 04:44] pizzafox opened #1304 "More Node.js extensions?"
## Feature Request

#### Is your feature request related to a problem? Please describe.

I was in the `src` directory of a TypeScript project and noticed that the Node.js module wasn't being enabled.

#### Describe the solution you'd like

Add more extensions to the Node.js module.
In order of importance:

1. `.ts`
2. [`.jsx`](https://reactjs.org/docs/introducing-jsx.html) (maybe)
3. [`.mjs`](http

[2020-06-10 06:01] chipbuster commented on #1041
While I don't mind using color to *add* information, I've been very wary of using color *alone* to convey important information ever since our first command status module turned out to be [unusable by colorblind users](https://github.com/starship/starship/issues/130).

If we can work out some colors that will be noticeable under a wide range of terminal colorschemes and have noticeable change for

[2020-06-10 07:41] chipbuster commented on #435
A lot of these timing bugs seem to have been fixed either by the v0.32.1 release or will hopefully be finished off by #1185. In light of this, I'm going to go ahead and close this--feel free to reopen or file a new issue if you still have this problem!

[2020-06-10 07:41] #435 closed

[2020-06-10 07:47] chipbuster commented on #579
The offending line appears to have been removed in #696. Feel free to re-open this or open a new issue if it's still a problem.

[2020-06-10 07:47] #579 closed

[2020-06-10 07:48] chipbuster commented on #537
I believe our outstanding bugs with cursor movement are currently fixed. Feel free to re-open or open a new issue if this comes back up!

[2020-06-10 07:48] #537 closed

[2020-06-10 07:54] chipbuster commented on #978
Closing in favor of #910

[2020-06-10 07:54] #978 closed

[2020-06-10 09:00] sandorex commented on #1285
Is it possible to leave out the `toolbox` in the custom module?
I want to just have the symbol shown

[2020-06-10 10:01] EvgenyOrekhov opened #1310 "Installation process on Windows using Git Bash is confusing and hard"
## Bug Report

#### Current Behavior

Installation process on Windows using Git Bash is confusing and hard.

#### Expected Behavior

I expected installation process to be simple and straightforward.

#### Additional context/Screenshots

1. I open my Git Bash like I always do
2. I run `bash ./install.sh`
3. I answer "y" to `? Install Starship latest to /usr/local/bin? [y/N] y`
4. I get

[code]

I i

[2020-06-10 10:25] chipbuster commented on #1240
It would seem that Stack is no stranger to [performance issues](﻿﻿https://github.com/commercialhaskell/stack/labels/type%3A%20performance). Some of these have been open for more than a few years---unless the sufficiently smart Haskell compiler is coming out soon, I think caching will likely be the only way around this one.

FWIW, on my system, `stack --no-install-ghc --lock-file read-only ghc -- -

[2020-06-10 20:49] selfagency opened #1312 "Composer projects show error message above prompt"
#### Current Behavior
While using within PowerShell on Windows 10, an error appears above the prompt on projects using Composer.

[code]

#### Expected Behavior
To not have an error above the prompt.

#### Additional context/Screenshots
[code]

#### Possible Solution
Remove any deprecated calls from the code that may be triggering the error or suppress the errors.

#### Environment
- Starship vers

[2020-06-10 23:28] vladimyr commented on #1312
This isn't starship issue instead, it originates from your PHP installation/configuration: https://github.com/composer/composer/issues/7365

[2020-06-11 00:22] chriskacerguis opened #1313 "Install fails on Ubuntu 20.04 (x64)"
#### Current Behavior

When running the following command `curl -fsSL https://starship.rs/install.sh | bash` the install fails due to "Starship not yet supporting your configuration."
#### Expected Behavior

Starship is expected to install as normal.

#### Additional context/Screenshots

[code]

#### Possible Solution

The problem seems to be here: https://github.com/starship/starship/blob/master/

[2020-06-11 02:30] chipbuster commented on #1313
Hey @chriskacerguis, thanks for bringing this to our attention!

Believe it or not, it looks like this was caused by a single errant space that snuck in during code cleanup. I'll have a hotfix PR ready and hopefully we can merge it in a few hours.

[2020-06-11 03:09] chipbuster commented on #1312
But it's definitely not correct that we're displaying an error message instead of the PHP version here.

If the version is unobtainable due to error, we should either hide the PHP module or display an error symbol, not spew garbage onto the user's prompt.

The real question is whether this is an upstream issue or one with us. The full output of the PHP command is evidently:

[code]

But PHP *doesn

[2020-06-11 03:19] chipbuster commented on #885
Definitely a low priority with everything else we have going on...

[2020-06-11 03:21] chipbuster commented on #375
In retrospect, this seems like it was potentially caused by ordering issues with `PROMPT_COMMAND` or the `DEBUG` trap.

#1185 hopefully will clean these up. Feel free to reopen or open a new issue if this is still an issue.

[2020-06-11 03:21] #375 closed

[2020-06-11 04:26] vladimyr commented on #1312
I missed that the actual version gets printed bellow. Seems you are right...

[2020-06-11 06:33] chipbuster commented on #1246
Superseded by #1283

[2020-06-11 06:34] #1246 closed

[2020-06-11 06:57] chipbuster commented on #1283
I'm sorry, I'm not terribly familiar with all the bits of fish. What do you mean by fish_mode_prompt being bad?

I just tried to reproduce this in a Docker container based off of Debian Buster and everything worked fine. Then I tried it under native MacOS + fish, and sure enough, the symbol is stuck. Does that mean it's a fish-specific OS issue? A starship-specific OS issue? A version issue (fish

[2020-06-11 07:43] andytom commented on #1312
I think it might be worse if I remember correctly `cmd_exec` keeps `stdout` and `stderr` separate so I think PHP is outputting this error to `stdout`.

@selfagency can you run
`$env:RUST_LOG=starship=trace; starship module php; Remove-Item Env:\RUST_LOG` (hopefully I've got the powershell syntax right) and
`php -r "echo PHP_MAJOR_VERSION.'.'.PHP_MINOR_VERSION.'.'.PHP_RELEASE_VERSION;"` in that dir

[2020-06-11 17:41] selfagency commented on #1312
[code]

Adding quotes around `starship=trace` fixed the above output.

[code]

[2020-06-11 18:12] #1313 closed

[2020-06-11 18:58] Zegnat commented on #1312
This really sounds like a misconfigured version of PHP, as the code that is running to print the version number does not trigger anything that would write out errors. Some potential ways I think Starship could get around this (if @selfagency could be so kind to test them to confirm):

1. Run the command without local settings. These settings will not change anything about the raw PHP version anywa

[2020-06-11 22:11] selfagency commented on #1312
Those both worked.

[code]

[2020-06-11 23:33] chipbuster commented on #1312
Benchmarking shows that the former command takes ~8.0ms and the latter takes ~11.3.

These are both well below the time needed for a quick render.

[2020-06-12 03:11] chipbuster commented on #1283
Version dependency shows up on Linux as well: this works in 3.0.2

Bisecting [the fish repo](https://github.com/fish-shell/fish-shell) points to 8ff866b26b2f42bb8deeb2c2ec2b308c79daff75 being the first bad commit.

Commit message:

Seems relevant, though I don't understand the interaction between fish's various prompt functions well enough to explain why this only occurs under certain situations.

[2020-06-12 03:42] chipbuster commented on #1271
@basbebe I can't confirm your initial example on an empty line, but I do see this behavior when pasting in text.

My initial suspicion is that starship uses some ANSI control sequences, and that kitty is not compatible with them. I know that without installing some terminfo files, SSH over kitty often completely screws up (this is what forced me to stop using it about a year ago), so it wouldn't s

[2020-06-12 05:08] basbebe commented on #1271
Thanks for confirming!

As I said, I didn’t have this behavior with ZSH. So I don’t know if the sequences are different or there is something particular about this combination.

Can you tell what the ANSI sequences are or where they are in the code?

And then I don’t know if there are ANSI codes in play when switching Vim mode?

[2020-06-12 05:41] chipbuster commented on #1271
Yes, in fact I remember sweating a lot over that particular line of code. The code mentions a whole slew of issues that were related--let me link them here and then I'll look at them more in-depth.

Workaround for bug in fish: #739, #279
Breaks other shells: #808, #824, #834

[2020-06-12 20:26] chipbuster opened #1319 "dirs -> dirs-next"
According to [several posts](https://www.reddit.com/r/rust/comments/gli4pc/directoriesnext_dirsnext_the_new_home_for/), the `dirs` crate is going on a multi-year hiatus (it sounds like a mini-replay of actix-web, but I don't like to think about the actix-web incident).

Someone has forked `dirs` to make `dirs-next`, should we consider switching?

[2020-06-12 23:04] #1312 closed

[2020-06-12 23:22] pikeas opened #1320 "Command duration does not clear on enter"
https://github.com/starship/starship/issues/435

<img width="230" alt="Screen Shot 2020-06-12 at 16 18 17" src="https://user-images.githubusercontent.com/686573/84553216-56ec8800-acc8-11ea-8057-87c4a4f65a1b.png">

#### Environment
- Starship version: 0.42.0
- fish version: fish, version 3.1.2
- Operating system: Mac OS 10.15.3
- Terminal emulator: iTerm.app 3.3.11

#### Relevant Shell Configuratio

[2020-06-13 01:02] pikeas opened #1321 "Git branch hard-coded prefix"
https://github.com/starship/starship/blob/0ef7df44414dc7db8e7a900c2707134983717a4a/src/modules/git_branch.rs#L15

It would be nice if this was configurable like other modules!

[2020-06-13 01:08] chipbuster commented on #1321
In-progress right now!

You can see [this discussion](https://github.com/starship/starship/discussions/1318) for more details.

[2020-06-13 01:09] #1321 closed

[2020-06-13 05:41] chipbuster commented on #1320
So after doing some testing, it seems almost all fish prompts in omf have this behaviour.

This is likely because the simplest way to implement this functionality is to read out of `cmd_duration` in fish, which `fish` does not reset on blank command, unlike in zsh/bash where it has to be reset via a pre-execution hook and cannot be retained on blank command.

I'm open to discussing what we think t

[2020-06-13 12:43] ZeePal commented on #1321
ive submitted a PR to help with these :D
https://github.com/starship/starship/pull/1322

[2020-06-14 06:00] gnachman commented on #1283
When `starship init fish` is run, it does this:
[code]

As long as I don't change the definition of `fish_mode_prompt` then starship updates the prompt with the vi mode properly. If I change `fish_mode_prompt` to be not empty then starship stops updating the vi mode. How does starship know to do this? Or is fish somehow doing it?

[2020-06-14 12:24] chirsz-ever commented on #375
After updating to 0.42.0, the problem still exists.
![图片](https://user-images.githubusercontent.com/31474766/84593120-f05c9b00-ae7c-11ea-92ff-5312b44d918d.png)

[2020-06-14 15:41] matchai commented on #375
The changes from #1185 weren't yet included in a release. Next release should have them. 😊

[2020-06-15 03:58] hwchen opened #1327 "Git Branch: get initial branch name (immediately after git init, no commits)"
## Feature Request

#### Is your feature request related to a problem? Please describe.
On initializing a git repo, the git branch module will always show `master` as the name, because no branch has been created until a commit is made and the default is `master`.

#### Describe the solution you'd like
I hope that there is a way to retrieve the actual name of initial branch. `git status --porcelain

[2020-06-15 12:25] sandorex opened #1334 "Cannot hide a prefix for git_branch"
#### Current Behavior

there is a prefix before git_branch module

#### Expected Behavior

there should be no prefixes

#### Additional context/Screenshots

![Screenshot from 2020-06-15 14-23-52](https://user-images.githubusercontent.com/18004075/84657042-f8b3e500-af13-11ea-80a3-cefd0429ab30.png)

#### Possible Solution

#### Environment
- Starship version: 0.42.0
- zsh version: zsh 5.8 (x86_64-re

[2020-06-15 14:30] Zegnat commented on #1327
The default branch name is coded into git to be `master`. You can check this yourself:

[code]

That is why that first commit made automatically creates a branch called master, it is already prepared. This is also why `git status` will tell you you are “On branch master” even when `git branch` is empty.

Although something in Starship seems to be handling git wrong anyway. Because changing the fil

[2020-06-15 14:45] hwchen commented on #1327
Yes, I'm aware that the default for git is `master` (sorry it wasn't clear from the OP), but if I change the default (similarly to your example) it would be nice if it's reflected in Starship.

Starship hardcodes the default to `"master"` here: https://github.com/starship/starship/blob/4788092423fd42387b49f60d2a2d89db0deb6bab/src/context.rs#L319 .

[2020-06-15 17:07] matchai commented on #1334
Closing this as a duplicate of #1318.

[2020-06-15 17:07] #1334 closed

[2020-06-15 17:08] matchai commented on #1327
Reading `.git/HEAD` would definitely be the preferred solution if `git2` doesn't provide an easy way to do so. 👍

[2020-06-15 19:36] DanielAtKrypton commented on #1038
@pizzafox try [this](https://github.com/DanielAtKrypton/debian-dev-boilerplate). It may shed some light on how to make Starship correctly within WSL2.

This is how my Zsh terminal currently looks like:
![Imgur](https://i.imgur.com/0U4jhpM.png)

These are the prompts I use:
- Within Powershell core in Windows I use Starship.
- Within Debian in WSL2 I use Powerlevel 10k.

One of the most useful feat

[2020-06-15 23:35] chipbuster commented on #1283
I think this is being done by fish, as a feature in their newer versions.

The resolution to fish-shell/#5783 added a new feature that skips executing `fish_prompt` if `fish_mode_prompt` is a non-empty function (or at least, that's how I'm reading it). The relevant commit is [here](https://github.com/fish-shell/fish-shell/commit/8ff866b26b2f42bb8deeb2c2ec2b308c79daff75), which appears to switch a

[2020-06-16 06:42] sandorex commented on #1334
I am sorry i wasn't able to find that discussion, thank you.

[2020-06-16 10:14] emres opened #1337 "The error_symbol in Character section has no effect: it isn't displayed when a command fails"
## Bug Report

#### Current Behavior
The symbol (character) defined for **error status**, "✗" in my case, isn't shown when a command returns with a error status (status different than **0**)

#### Expected Behavior
I would expect the the symbol (character) defined for **error** status, e.g. "✗", to be shown when a command fails.

#### Additional context/Screenshots
Please see that the error symbol

[2020-06-16 10:54] ZeePal commented on #1337
I had an issue with Starship not reporting when the exit code is non-0 (symbol and the default green > red colour change).

Turned out that I had other prompt commands running before starship which overrides the `$?` Starship sees. (If they run after starship the duration module is wrong :( )

Here is what I did to fix it: https://github.com/ZeePal/workstation-ubuntu/blob/master/roles/starship/tas

[2020-06-16 11:11] emres commented on #1337
Indeed, it seems like the culprit is the modified `PROMPT_COMMAND` value:

[code]

and when I run  `export PROMPT_COMMAND=starship_precmd`, it works as expected:

[code]

[2020-06-16 11:14] emres commented on #1337
Maybe the [fix](https://github.com/wting/autojump#known-issues) (suggested for [autojump](https://github.com/wting/autojump)) [here](https://github.com/wting/autojump#known-issues) can help, e.g. appending the `history -a` to the `PROMPT_COMMAND` instead of directly overwriting it. I'll give it a try.

[2020-06-16 11:19] emres commented on #1337
It seems like `export PROMPT_COMMAND="${PROMPT_COMMAND:+$PROMPT_COMMAND ;} history -a"` worked in my case. It might be _good to add a reminder/warning/pointer_ to [the documentation for Character](https://starship.rs/config/#character), similar to the style used in [documentation of Command duration](https://starship.rs/config/#command-duration).

[2020-06-16 11:26] ZeePal commented on #1337
if u use or turn on the cmd_duration module when starship isnt the last `PROMPT_COMMAND` entry the duration of the last command is wrong for me. Its the duration since the last prompt instead.

[2020-06-16 11:32] emres commented on #1337
Oh, you're right! Then it makes more sense to use [the fix in your example Ansible YAML file](https://github.com/ZeePal/workstation-ubuntu/blob/master/roles/starship/tasks/main.yml#L115-L128). In any case, this is apparently a pitfall, not because of starship but so many possibilities of messing around with Bash configuration (which was [bash-sensible](https://github.com/mrzool/bash-sensible) in m

[2020-06-16 11:54] emres commented on #1337
I'm closing this issue, because this is not a bug.

[2020-06-16 11:54] #1337 closed

[2020-06-16 15:40] matchai commented on #1337
We have some advanced configuration docs that may help in running pre-prompt custom code in bash:
https://starship.rs/advanced-config/#custom-pre-prompt-and-pre-execution-commands-in-bash

[2020-06-16 22:05] v0idifier commented on #940
I saw this happening (git status being fast but starship being awfully slow) when having a 1GB untracked file. Deleting it fixed it.

[2020-06-17 10:50] jaklan opened #1340 "Git Branch - dynamic colour based on git status"
## Feature Request

#### Describe the solution you'd like
It would be really valuable to have a similar feature like in `agnoster` theme:
![image](https://user-images.githubusercontent.com/24907857/84889222-d0092800-b098-11ea-92f7-f8144982233c.png)

[2020-06-17 11:25] andytom commented on #1340
Hi @jaklan, this seems to be the same as #874 so I'm going to close this as a duplicate.

[2020-06-17 11:25] #1340 closed

[2020-06-17 11:59] SlapBot opened #1341 "Unable to install on Windows (Git Bash) - Configuration not found error"
## Bug Report

#### Current Behavior

An error is occuring on running the command, `./install.sh --bin-dir /c/Users/slapbot/starship/` to install starship (note I have to provide --bin-dir because /usr/local/bin doesn't exists as mentioned in #1310 )

Error:

[code]

#### Expected Behavior

Clean installation success message after finding the current build.

#### Additional context/Screenshots

##

[2020-06-17 12:21] chipbuster commented on #1341
Yep, that's a failure in our platform detection scripts.

Could you try running with the additional flag `--platform pc-windows-msvc`? That would make your total command

[code]

That should bypass automatic platform detection. If the script + starship work as expected afterwards, we'll add msys to our platform detection.

[2020-06-17 13:21] nirvdrum commented on #910
@chipbuster A few options I can think of are:

* Check each `PATH` component
* Shell out to `which`
* Maybe using `execlp`/`execvp`, if what you really need to do is exec `starship` and not necessarily get the command's path. You could also do `/bin/sh -c`, which should be fairly portable on POSIX systems.

If any of these options is appealing, I can take a pass at implementing it.

[2020-06-17 13:38] chipbuster commented on #910
I'd like to maintain compatibility with e.g. powershell-only systems, so I think the first and second are out.

I didn't think of evaluating each component of PATH ourselves, that's actually pretty clever! The only concern I have is what happens if the shell doesn't define the `PATH` variable as such (e.g. what if it's called `myshell_path` or `Path` or `path`?).

I think that's pretty easy to get

[2020-06-17 14:18] dead10ck commented on #891
I'm experiencing this as well; I'm not sure when it started happening. Hitting enter in a large repo takes seconds to get to a new prompt. It's clearly git that's the issue, not Rust, so maybe this issue can be renamed.

[2020-06-18 08:04] gnachman commented on #1283
Thanks for the explanation. If I understand correctly, starship relies on the fish_prompt being called to show the mode. That only works if fish_mode_prompt is empty. I have to use fish_mode_prompt because if it *does* print something, I want to print my control sequence first.

A possible fix would be for me to override fish_mode_prompt only if it's non-empty, and to use fish_prompt otherwise.

[2020-06-18 08:04] #1283 closed

[2020-06-18 18:55] ethanquix opened #1343 "line_break not customizable in config file"
#### Current Behavior
`line_break` module behavior should be customizable in the config file. It's not

#### Expected Behavior
[code]
Should disable the line break

#### Possible Solution
Create a `src/configs/line_break.rs`

#### Environment
- Starship version: 0.42.0
- fish version: fish, version 3.1.2
- Operating system: Mac OS 10.15.4
- Terminal emulator: kitty

#### Relevant Shell Configurati

[2020-06-18 19:30] vladimyr commented on #1341
@chipbuster I'll take care of it inside https://github.com/starship/starship/pull/1315

@SlapBot Thank you for the extensive and elaborate report 👍 Just a quick question you were running this under git bash or WSL?

[2020-06-18 19:33] chipbuster commented on #1341
@vladimyr #1315 is already big enough. If you want to tackle it, could you open a draft PR based on #1315 and then open it once #1315 merges? We can also deal with #1310 in that PR (the "Windows quality of life upgrade" or something)

[2020-06-18 19:34] vladimyr commented on #1341
Even better 👍

[2020-06-18 20:56] andytom commented on #1343
Hi @ethanquix, unfortunately I cannot reproduce this as far as I can tell this is working as expected.

[code]

The line break shows up as expected between the rust module and the character module. Can you add a screenshot or something to demonstrate the issue.

[2020-06-18 20:57] nirvdrum commented on #910
@chipbuster How would you feel about adding the [which crate](https://crates.io/crates/which) as a dependency? I'm not wild about a new dependency, but this one seems pretty small and does exactly what we're looking for, including support for Windows. I have it working locally (Linux) and it's finding the Homebrew symlinked binary.

[2020-06-18 21:05] chipbuster commented on #910
@nirvdrum I'm game. Seems relatively painless and it's a small dependency (only really uses libc and thiserror)

[2020-06-18 22:44] vladimyr commented on #1341
Thanks 👍

[2020-06-18 22:52] dimdin opened #1345 "ARM v7 LE build for raspberry pi"
It will be great to have a starship binary for raspbery-pi.

**> uname -s -r -v -m -p -i -o**
Linux 4.19.118-v7+ #1311 SMP Mon Apr 27 14:21:24 BST 2020 armv7l unknown unknown GNU/Linux

**> install.sh**
  Configuration

? Install Starship latest to /usr/local/bin? [y/N] y
! Escalated permission are required to install to /usr/local/bin
[sudo] password for ...:

x Command failed (exit code 22): cur

[2020-06-19 00:01] vladimyr commented on #1343
Same, here, the config setting seems to be respected.

[2020-06-19 00:06] vladimyr commented on #910
Which brings me to the following question, could it be solved by altering shell profile:
[code]

[2020-06-19 01:46] talios opened #1347 "Custom commands that are executable binaries fail to run"
I have a custom command (`custom.maven`) defined which executes a Rust based binary to generate its prompt segment.

#### Current Behavior

* Prompt segment is silently dropped from output
* When running with `RUST_LOG=trace` I see: `Could not launch command with given shell or STARSHIP_SHELL env variable, retrying with /bin/env sh`

#### Expected Behavior

* I expect to see the binary command exe

[2020-06-19 07:53] andytom commented on #1345
Hi @dimdin, thanks for the suggestions, I think this would be fixed by #315 so going to close this as a duplicate of that ticket.

[2020-06-19 07:53] #1345 closed

[2020-06-19 07:53] cardin opened #1349 "Powershell: Directory current path is malformed"
#### Current Behavior
Directory is not printed corrected in prompt.
```D://Program Files/PowerShell/7```

#### Expected Behavior
Directory should be printed as this:
```D:/Program Files/PowerShell/7```

#### Additional context/Screenshots
![image](https://user-images.githubusercontent.com/553816/85110401-72660e80-b245-11ea-9bbb-a9f3a596cbfe.png)

#### Possible Solution

#### Environment
- Starship

[2020-06-19 07:56] andytom commented on #1349
Hi @cardin, I think this is the same issue as #1106 so going to close it as a duplicate.

[2020-06-19 07:56] #1349 closed

[2020-06-19 08:00] cardin opened #1350 "Powershell: Username is not shown"
#### Current Behavior
Username is not printed despite of ```show_always = true``` for [username]

#### Expected Behavior
Username should be shown

#### Additional context/Screenshots
![image](https://user-images.githubusercontent.com/553816/85110711-e43e5800-b245-11ea-81e1-2b74dad6eb48.png)

#### Possible Solution

#### Environment
- Starship version: 0.42.0
- powershell version: 7.0.2
- Operating

[2020-06-19 08:26] cardin opened #1351 "Windows Terminal w Powershell: Background color overflows excessively"
#### Current Behavior
When line contents exceed window width, the Background color overflows the entirely next line.

#### Expected Behavior
The color should stop when the contents end, and not overflow all the way.

i have attached 2 screenshots: one of Powershell 7 (which is correct), and one of Windows Terminal with Powershell 7 (which is wrong).

#### Additional context/Screenshots
Powershell

[2020-06-19 08:53] jeanga commented on #1350
Windows implementation of this module is completely broken currently.
There is PR #1157 waiting to be merged to fix this issue.

[2020-06-19 09:10] cardin opened #1352 "Style acts on Prefix inconsistently"
#### Current Behavior
The `prefix` attribute is inconsistent affected by `style`.
E.g.
* hostname prefix is affected by style
* directory prefix isn't affected by style

#### Expected Behavior
There should be consistency in how prefixes are affected.

#### Additional context/Screenshots
![image](https://user-images.githubusercontent.com/553816/85115985-3172f780-b24f-11ea-941d-62d5782dcb65.png)

##

[2020-06-19 15:18] fmaiabatista opened #1354 "Can't make Starship work on a Fish (Cygwin) on Windows environment"
## Bug Report
Can't make Starship work on a Fish (Cygwin) on Windows environment

#### Current Behavior
Fish hangs when I start it after configuring `config.fish` to use Starship

![gr82WXpH2Y](https://user-images.githubusercontent.com/1574224/85164689-172f1e80-b23b-11ea-81e1-512d176c307a.gif)

#### Expected Behavior
Should work

#### Additional context/Screenshots
After reading #1310 and #1341 ,

[2020-06-19 16:50] fmaiabatista commented on #1354
Adding a gif showing my Cygwin structure for further clarity:
![a8feaBaj5V](https://user-images.githubusercontent.com/1574224/85159274-a9cbbf80-b233-11ea-9932-d7f54ba93716.gif)

And where I'm getting my terminal from:
![85159156-7ee16b80-b233-11ea-98cc-d801a9a04e35](https://user-images.githubusercontent.com/1574224/85159442-e5668980-b233-11ea-92bf-d8154271ecb4.png)

[2020-06-19 17:15] andytom commented on #1352
Hi @cardin, Unfortunately, this is know issue at the moment and we are working on the "format strings" feature which should fix this. You can look at #1057 for the tracking issue and the milestone for a rough idea of how close this feature is.

[2020-06-19 17:15] #1352 closed

[2020-06-19 17:21] andytom commented on #1347
Hi @talios, would it be possible for you to attach the full output of running the module with `RUST_LOG` set to `trace`?

[2020-06-19 18:00] fmaiabatista commented on #985
Hi, @quantabox , I was able to install it ([though not make it work](https://github.com/starship/starship/issues/1354)) and check it's installed by getting the installation file to my local machine then passing the option `--platform pc-windows-msvc`.

Please check [this](https://github.com/starship/starship/issues/1341#issuecomment-645340474) and [this](https://github.com/fish-shell/fish-shell/is

[2020-06-19 18:04] chipbuster commented on #1347
@andytom Did #1280 not make it into 0.42.0, or should it be `STARSHIP_LOG`?

[2020-06-19 18:12] andytom commented on #1347
If I remember correctly it didn't make it into 0.42.0.

[2020-06-19 18:13] chipbuster commented on #659
I'm going to go ahead and categorize this with our other requests for ARM support.

[2020-06-19 18:13] #659 closed

[2020-06-19 22:40] talios commented on #1347
@andytom here you go...

[code]

[2020-06-20 02:14] #1320 closed

[2020-06-20 07:42] heyrict opened #1356 "python: Cargo test fails with virtual environment enabled."
## Bug Report

#### Current Behavior
It seems that the environment is not cleared correctly in `modules::utils::test::render_module`.

The errors pops up when I run `cargo test --bin starship` in a virtual environment.

[code]

#### Expected Behavior
Environment variables should not be passed to unit tests.

#### Additional context/Screenshots
Run the following command to test with a simulated vir

[2020-06-20 11:47] heyrict commented on #597
Hi, there. Long time since the last update. There are two changes since my last reply.

1. As is mentioned by @rochdev , I've opened a PR #1085 in which you could disable the *slow* part of the git_status module.

2. Another work is done by the owner matchai in https://github.com/matchai/starship-poc . He has done a full rewrite on how starship handles git status.

@AndrewGaspar Thanks for your id

[2020-06-20 12:08] heyrict commented on #891
Just as I stated in https://github.com/starship/starship/issues/597#issuecomment-646984646 , this is a known issue for starship members for a long time. And matchai has been working on this feature and has gotten a fairly good result in https://github.com/matchai/starship-poc . So keep your eyes on :)

[2020-06-20 12:17] heyrict commented on #1235
Maybe related to #607 , which requests for conditional formatting based on environment variables.

[2020-06-20 17:59] #1319 closed

[2020-06-20 18:02] chipbuster commented on #1356
Is this possibly related to #941?

We could fix it for this test, but if another test has to set the virtualenv then I think the race condition mentioned there could kick in.

[2020-06-20 18:26] bvdeenen opened #1363 "I see `via` that I don't understand"
#### Current Behavior
[code]

#### Expected Behavior
No `via`'s in my prompt

#### Additional context/Screenshots
none
#### Possible Solution
no
#### Environment
- Starship version: 0.42.0
- bash version: GNU bash, version 5.0.17(1)-release (x86_64-unknown-linux-gnu)
- Operating system: Linux rolling
- Terminal emulator: <unknown terminal> <unknown version>
Konsole 20.04.2

#### Relevant Shell Con

[2020-06-20 18:26] heyrict commented on #1356
Year, thank you for pointing me to the link. I should have searched further before I post this.

I'm not sure if there are race conditions as each thread will have its own env.

I searched for if there is a before all function for tests, and reached this https://github.com/rust-lang/rfcs/issues/1664 which suggests adding a line to the tests.

[2020-06-20 18:26] #1356 closed

[2020-06-20 19:59] matchai commented on #1363
Thank you for your issue, Bart.

I'll be closing it as a duplicate of #1318.

[2020-06-20 19:59] #1363 closed

[2020-06-21 05:05] houqp commented on #940
can confirm this is due to large untracked file, deleting the files or disabling git_status plugin fixed the freeze for me.

[2020-06-21 08:22] #1302 closed

[2020-06-21 08:33] #1304 closed

[2020-06-21 11:29] Bhupesh-V opened #1368 "Build for i686 Linux"
It would be nice if a build for Linux (32bit) i686 Arch is available.
I am running Ubuntu 18.04 right now.

[code]

[2020-06-21 12:30] SubhamSatyajeet opened #1369 "[Feature Request] Ability to Self-Update"
## Feature Request

If possible, please provide the Starship binary with the ability to download a newer version of it, and perform an in-place upgrade, preferably like so:

`starship upgrade`

[2020-06-21 16:39] olets opened #1370 "User-defined function's output not coming through in custom module (zsh)"
#### Current Behavior

Custom functions defined in my shell rc file before Starship initialization cannot be used in custom Starship modules.

#### Expected Behavior

Calling a use-defined string-outputting function in a Starship custom module adds the output string to the prompt.

#### Additional context/Screenshots

x

#### Possible Solution

Possible this is something about "Make sure your cust

[2020-06-21 16:40] olets commented on #1370
Possibly related to #1347 if the binary aspect is a red herring?

[2020-06-21 18:02] chipbuster commented on #1368
I know we have issues with cargo-cross and the cross-platform build chains, but _surely_ we could do this one just by modifying our GH Actions right?

[2020-06-21 18:07] philipbordallo opened #1371 "Git status deleted and renamed show up for both changes in the working directory and in staging."
## Bug Report

#### Current Behavior
Git status `deleted` and `renamed ` symbols show up for both changes in the working directory and for when a file is staged.

#### Expected Behavior
Git status `deleted` and `renamed ` symbols show up for when a file is staged.

#### Additional context/Screenshots
In the [documentation](https://starship.rs/config/#git-status), `deleted ` and `renamed` are both

[2020-06-22 01:51] matchai commented on #1369
The reason we don't have this feature is due to the criteria for several package registries. Many of them disallow the distribution of builds that can update themselves so that folks can manage the versions of all their apps with the package registries alone.

If we were to implement this, it would have to be behind a build flag, which would only be made available for the pre-built binaries and sh

[2020-06-22 06:28] SubhamSatyajeet commented on #1369
Okay, thanks for clarifying. Closing the issue.

[2020-06-22 06:28] #1369 closed

[2020-06-22 08:22] Bhupesh-V commented on #1368
Seems like a one line addition : `i686-unknown-linux-gnu`
https://github.com/starship/starship/blob/d1bbba321b74ce856228e75d76c3001c1d8d1b60/.github/workflows/workflow.yml#L201-L205

[2020-06-22 08:27] vladimyr commented on #1369
Do they allow checking for updates? It would be nice to get a notification if a new version is available.

[2020-06-22 16:26] matchai commented on #1369
I'd imagine – but we still wouldn't know for sure that the user's package registry has the latest release available without writing piecemeal implementations for each registry.

[2020-06-22 16:30] vladimyr commented on #1369
Yeah, that's true...

[2020-06-22 18:10] Kira-Lappo commented on #1074
I read your issue about hour ago, said to my self 'meh', and started searches.
In general, you can compile it yourself, it's not that hard.

In common it is described here https://github.com/starship/starship/issues/315#issuecomment-530230019

1. Install `rust`, `cargo`,
1. Install `cross` and container service (I used docker)
1. Checkout `starship` git repo, navigate to the directory
1. Edit  `Ca

[2020-06-22 22:14] fmaiabatista commented on #590
I know this is closed but for reference I wanted to leave a workaround that made me successfully have Starship working under Cygwin/Fish and MSys2/Fish.

Following [this comment](https://github.com/fish-shell/fish-shell/issues/5151#issuecomment-646764438) I was able to run `starship init fish --print-full-init` in the command-line and see that printed a path with "\\" instead of "/" so what I did

[2020-06-22 22:20] fmaiabatista commented on #1354
Well, I was able to make it work both on Cygwin/Fish and MSys2/Fish environments! 🎉

I hope the following will help you fix so that it could work out-of-the-box!

#### Pasting from my comment [here](https://github.com/starship/starship/issues/590#issuecomment-647795736)

PS: After I made it work, it was just a matter of changing "C:/msys64/..." <-> "C:/cygwin64/..." on the path depending on where

[2020-06-23 03:49] limjh16 opened #1379 "prompt and tab completion glitches"
#### Current Behavior

When modules are enabled, tab completion will remove 1 space from the prompt (see screen cast below)

#### Expected Behavior
tab completion does not remove spaces from prompt

#### Additional context/Screenshots
<details><summary>additional details
</summary>

[![asciicast](https://asciinema.org/a/FfVS8lBE9u8sInE7Wuw1XCSZq.svg)](https://asciinema.org/a/FfVS8lBE9u8sInE7Wuw1XC

[2020-06-23 15:02] emk opened #1380 "Easily identify current shell as bash, fish, nushell, etc."
## Feature Request

Thank you for a really awesome prompt. Starship is fast and informative.

#### Is your feature request related to a problem? Please describe.
I usually use `fish`, but I've been experimenting with `nushell` lately, and the two shells use very different syntax. But I use Starship with both. This leaves me with no easy way to tell which shell a terminal is running.

#### Describe

[2020-06-23 15:12] matchai commented on #1380
As an immediate solution, this was achieved using our `custom` module, which was generously shared by @dalefrancum:
![image](https://user-images.githubusercontent.com/4658208/85421396-5fec1d80-b542-11ea-965d-a4e246b8d8aa.png)

Configuration available here: https://github.com/starship/starship/discussions/1252#discussioncomment-18316

[2020-06-23 15:15] matchai commented on #1379
Hey Lim 👋

To better help us investigate the issue, please share your local configuration details by running `starship bug-report`.
This command will pre-populate an issue with the details we need to start investigating.

[2020-06-23 15:25] daniel-white commented on #1286
If I take the time, this might be a good one for me.

@yacoob how would you expect it to be displayed?

[2020-06-23 15:41] yacoob commented on #1286
I'd say display the value of the variable, which is an integer, with configurable prefix. It'd be good to add an option to only show it when it's above the threshold, to account for tmux/screen.

[2020-06-23 19:35] daniel-white commented on #1286
Here's what I'm proposing (and I'm new to rust, so it might take a few days)

default config:
[code]

example output:
[code]

[2020-06-23 19:40] yacoob commented on #1286
There's a separate question of how this module should behave for shells that don't support this. bash and zsh have that, no idea about other ones, or even other platforms. In theory, it'd be possible to work it out for yourself - travel up the `ppid` chain, but I feell like it'd be flaky as hell. :)

[2020-06-23 19:41] daniel-white commented on #1286
@yacoob i'd just clarify in the documentation that it only works in those scenarios

[2020-06-23 22:32] vandrw opened #1381 "Clean install of Starship on WSL2 leads to a very slow bash"
## Bug Report

#### Current Behavior

 After opening a new terminal, it takes around one minute for a command to end after running (e.g. saving ~/.bashrc from nano took 19s).
#### Expected Behavior

On the first version of Windows Subsystem for Linux, the commands were instantaneous. In a basic shell, echo "$BASH_VERSION" takes around 0.2s, while in Starship it takes 7s.

#### Current solution
Sim

[2020-06-24 00:30] daniel-white commented on #1286
@andytom i'll take this

[2020-06-24 02:39] limjh16 commented on #1379
Hey! I did run that command, it is hidden in the dropdown "additional details" as it was very long... sorry!

[2020-06-24 02:46] matchai commented on #1379
Thanks Lim! 😄

Here are a few things that may fix the problem. Please try them one at a time and see if a new terminal + fish instance behaves correctly.
- In iTerm, go to Preferences > Profiles > Text, and enable "Use Unicode version 9+ widths"
- In iTerm, go to Preferences > Profiles > Text, and enable "Ambiguous characters are double-width"
- Add this one-liner to your `~/.config/fish/config.fi

[2020-06-24 03:08] Lujaw commented on #211
Used eval "$(starship init zsh)" instead of eval "$(starship init bash)" and it worked.
Thanks

[2020-06-24 03:13] limjh16 commented on #1379
Hey! Thanks so much, that last line worked! It would be great if you can explain what it does

[2020-06-24 03:13] #1379 closed

[2020-06-24 08:01] arthurzenika opened #1384 "[mercurial] support for topic (lightweight branches)"
## Feature Request

#### Is your feature request related to a problem? Please describe.

First off : congrats for having mercurial support in this project ! Most prompts are git centered and diversity is great !

We use topics for lightweight branches in mercurial in combination with evolve. This is a great way to work with mercurial repos in combination with https://heptapod.net/ which is a frien

[2020-06-24 15:41] matchai commented on #1379
Many emoji have the unicode width of two characters, which may throw off how fish handles character deletion.
What's curious is that this issue existed in Fish 2, where they introduced this configuration option. This was apparently fixed in Fish 3, and is not needed on my own system. Nonetheless, I'm glad it hear the fix worked for you 👍

[2020-06-24 16:22] andytom commented on #1381
Hi @vandrw, We had a previous issue, #1038, which was related to the way WSL 2 deals with how file system access across Linux and Windows, see https://github.com/starship/starship/issues/1038#issuecomment-618956565. Does this affect all paths or just some?

[2020-06-24 18:07] alex0112 opened #1386 "zsh starship doesn't use config file."
#### Current Behavior
None of my starship config symbols show up.  (Like the lambda etc.)

#### Expected Behavior
The symbols and customizations defined in my starship config file at `.config/starship.toml` to have an effect on what my prompt looks like.

#### Additional context/Screenshots
I use this exact config file on another machine and it works great.  A lot of the symbols won't show up well

[2020-06-24 18:14] matchai commented on #1386
Hey @alex0112 👋

Could you please try running the following and sharing the log output with us:
[code]

[2020-06-24 18:27] nogorilla opened #1387 "Use NVM for Nodejs version"
## Feature Request

#### Is your feature request related to a problem? Please describe.
The current Nodejs module retrieves version information directly from the `node` executable which might differ from the selected `nvm` version

#### Describe the solution you'd like

Have the Nodejs module default to `nvm` version and fallback to `node` executable version if `nvm` is not found. A working exampl

[2020-06-24 18:29] daniel-white commented on #1286
@yacoob i put up a PR. made some config changes and i think its better for it. i'd appreciate feedback that it does the right thing you would expect

[2020-06-24 18:42] alex0112 commented on #1386
[code]

[2020-06-24 18:59] vladimyr commented on #1387
AFAIK nvm uses symlinks. In which situation version set by nvm and one that starship finds on the path might differ?

[2020-06-24 19:18] andytom commented on #1347
It looks like there are two issues here first it is failing to run the command in the base shell unfortunately we don't actually log the error message (https://github.com/starship/starship/blob/master/src/modules/custom.rs#L106) so I'll add some extra logging here to help us debug why this is failing. The second issue is that it isn't falling back to `sh` correctly which I have not been able to re

[2020-06-24 19:18] nogorilla commented on #1387
There only appears to be a disconnect between versions when starting a new session. See the screenshot for an example. I started a new session, starship shows the value from `node -v`, then I ran `nvm current` and starship then shows the nvm version.

<img width="491" alt="Screen Shot 2020-06-24 at 3 03 13 PM" src="https://user-images.githubusercontent.com/1786677/85617909-fc3f1e80-b62d-11ea-96cc-

[2020-06-24 19:29] vladimyr commented on #1387
Thanks for your explanation! 👍 It seems that you have an issue with nvm instead. According to your screenshot nvm fails to actually activate required node version on session start and delays it up until you query it for the current one which is super weird 🤔

[2020-06-24 19:41] andytom commented on #1386
It's hard to spot but I think the problem is you have `[memory_usage]` defined twice in the config file which is invalid in toml. I'll open a PR to add some additional logging around this to try to catch these errors in the future.

[2020-06-24 20:01] vandrw commented on #1381
Yes, you are right. It seems to fix itself by moving to /home. Thank you for the fast reply! I will stick to a normal bash until WSL improves this or I might give a try to the Zsh solution.

[2020-06-24 20:03] #1381 closed

[2020-06-24 20:04] andytom commented on #1381
No problem happy to help. I'll close this issue as it is an upstream issue with WSL rather than starship.

[2020-06-24 20:06] matchai commented on #1387
`nvm` is very slow when fetching the Node version. Considerably slower than calling Node directly:

<img width="857" alt="CleanShot 2020-06-24 at 16 03 18@2x" src="https://user-images.githubusercontent.com/4658208/85622045-3dd2c800-b634-11ea-8936-7c816134134d.png">

Unfortunately, this would delay the render of the prompt as a whole, so I would rather we avoid calling `nvm version` or `nvm current

[2020-06-24 21:13] #1108 closed

[2020-06-24 22:46] alex0112 commented on #1386
That was the problem.  Thanks for the quick reply!

[2020-06-24 22:46] #1386 closed

[2020-06-25 03:41] vladimyr commented on #1387
Now I'm going off-topic but to further emphasize @matchai already said, after being `nvm` user for years I switched to [`fnm`](https://github.com/Schniz/fnm) and never looked back. It felt like adding nitro boosters 🚀

[2020-06-25 07:57] andytom commented on #1370
Hi @olets, can you run `RUST_LOG=trace starship module` and post the results here to help us debug this.

[2020-06-25 15:29] Aelnor commented on #1371
I can try to investigate this one unless there're objections

[2020-06-25 15:43] 71 commented on #1347
@andytom Sorry, I'm pretty busy these days so I won't be able to dig deep. Good call logging the error message.

@talios I see you're using macOS, and I'm not familiar with it. Does it even have `/bin/env`? What happens when you try to run the command manually (ie `echo "smx-build --show-version" | /bin/env sh`)?

[2020-06-26 01:15] chipbuster commented on #1384
Hi @arthurlogilab

Thanks for the kind words :)

I skimmed the tutorial you posted, but I didn't see an answer to my main question, which will probably determine if we can easily support this or not: is there a simple, on-disk format that describes what active topic is? (e.g. a file at `.hg/topic`, or a line in a config file somewhere).

Our VCS modules are implemented by reading the actual VCS fi

[2020-06-26 09:10] arthurlogilab commented on #1384
@chipbuster thanks for taking a look at this !

Indeed you can access the current topic by reading the file `.hg/topic` (I might go and ask if we can improve the documentation or tutorial to mention this).

[2020-06-26 13:40] oteku opened #1395 "Use sandboxed version of OCaml if any"
## Bug Report

#### Current Behavior

OCaml module display OCaml version from global.

1. Since opam 2 and esy.sh may sandbox OCaml in a directory it may be the wrong version.
1. OCaml project managed by esy.sh may be detect as nodejs project because it also use a package.json manifest

#### Expected Behavior

- [ ] Should not display nodejs info for esy.sh OCaml project

- [ ] Should display sand

[2020-06-26 14:45] zapman449 commented on #576
Not sure if this is the same bug, or distinct.
Using ZSH, whenever I hit ctrl-R to history search, the cursor is two characters to the right of where it should be.  This persists through editing the history, and sometimes causes me to delete the wrong character in editing previous commands.  This seems to happen more frequently on multi-line commands in history, but I haven't nailed down the parti

[2020-06-26 17:18] bbigras opened #1397 "feat: optionally use the bell to notify the user after a long-running command"
## Feature Request

#### Is your feature request related to a problem? Please describe.
When I run long-running commands, I change windows and forget about them.

#### Describe the solution you'd like

`echo -e "\07"` if the command's duration is higher that some value maybe

#### Describe alternatives you've considered

Maybe there's shell (zsh, fish) plugins for that with desktop notifications a

[2020-06-26 18:40] andytom commented on #1397
Hi @bbigras, do you think #1019 solves this issue for you?

[2020-06-26 18:46] bbigras commented on #1397
Oh yeah. I actually saw that PR (only the title) and I assumed it was something else. Thanks!

[2020-06-27 05:05] lovesegfault opened #1401 "env_var module does not work with zsh-vim-mode"
#### Current Behavior

I set up [zsh-vim-mode](https://github.com/softmoth/zsh-vim-mode), which [exports `VIM_MODE_KEYMAP`](https://github.com/softmoth/zsh-vim-mode#editing-keymap-tracking) as an environment variable, to make it easy to integrate with prompts. I then enabled the `env_var` module as such:
[code]
Yet, all I ever see is `?` despite the var being set:
[code]

#### Expected Behavior

F

[2020-06-27 05:58] andytom commented on #1347
Not a problem, I think you might have stumbled on the solution thought. It looks like on macOS there is no `/bin/env` only `/usr/bin/env`, on Ubuntu and CentOS both exist is there any reason we can't change to use `/usr/bin/env`?

[2020-06-27 14:28] olets commented on #1370
I think this is solved! Realized zsh doesn't load zshrc in non-interactive shells:

[code]

Sourcing zshrc in the custom module's command works:

[code]

<details><summary>This is with the same minimal test .zshrc and starship.toml as in my original post:</summary>

[code]
</details>

<details><summary>and this is the same but with zshrc sourced:</summary>

[code]
</details>

[2020-06-27 20:47] lovesegfault commented on #1401
Following https://github.com/softmoth/zsh-vim-mode/commit/abef0c0c03506009b56bb94260f846163c4f287a the `env_var` now shows up, but isn't updated when the mode changes; I wonder whether it's possible to dynamically update the prompt?

[2020-06-28 00:30] talios commented on #1347
@andytom @71

[code]

Yep - no `/bin/env`:

[code]

works however.

[2020-06-28 11:07] 71 commented on #1347
Yep, after some research it looks like `/usr/bin/env` is more commonly available than `/bin/env`, so we probably need to change that. It's a quick fix, do you want to take care of it @andytom, or should I do it?

[2020-06-28 14:16] zacharywhitley commented on #1091
It's also a problem on Centos 7 where libssl is at libssl.so.1.0.2k

[2020-06-28 17:33] andytom commented on #1347
I've popped up a PR to fix it.

[2020-06-28 19:41] #1347 closed

[2020-06-28 21:03] andytom opened #1403 "Version the config file schema"
## Feature Request

#### Is your feature request related to a problem? Please describe.

This was raised in https://github.com/starship/starship/pull/1078#issuecomment-648662518, but I thought it would be a good idea to pull this out as a separate issue since this seems like something that would be useful to have.

#### Describe the solution you'd like

Over time we are going to want to make backw

[2020-06-28 21:23] andytom opened #1404 "Create migration guide for the format string release"
## Feature Request

#### Is your feature request related to a problem? Please describe.

As part of the format strings release there are a few breaking changes being made to the config file we will need to provide a migration guide to help our users with the migration.

#### Describe the solution you'd like

[code]

_Originally posted by @heyrict in https://github.com/starship/starship/pull/1078#i

[2020-06-29 04:31] heyrict commented on #1343
Thank you for your notes, but `disabled` key is handled before passing to modules in `src/print.rs` and it works without a config file. Going to close this now.

[2020-06-29 04:31] #1343 closed

[2020-06-29 13:19] AnthonyPorthouse opened #1408 "git_status module shows removed files when no files are being removed"
#### Current Behavior
`git_status` module returning `[$✘]` when `git status` shows no `nothing to commit, working tree clean`

#### Expected Behavior
`git_status` should return `[$]`

#### Environment
- Starship version: 0.43.0
- fish version: fish, version 3.1.2
- Operating system: Mac OS 10.15.4
- Terminal emulator: Hyper 3.0.2

#### Relevant Shell Configuration

[code]

#### Starship Configurat

[2020-06-29 19:35] Aelnor commented on #1371
Here's the investigation result.
This behavior is cause by [`renames_index_to_workdir()` ](https://docs.rs/git2/0.7.5/git2/struct.StatusOptions.html#method.renames_index_to_workdir) option (src/modules/git_status.rs:202)

I'm not sure if Starship needs it, but I've found out it was introduced here (which doesn't help either): https://github.com/starship/starship/pull/247/files

[2020-06-30 10:00] amerry opened #1414 "0.43.0 release missing Windows file"
https://github.com/starship/starship/releases/tag/v0.43.0

There is a `starship-x86_64-pc-windows-msvc.zip.sha256` file, but no `starship-x86_64-pc-windows-msvc.zip`.

[2020-06-30 10:07] davidkna commented on #1414
see #1412 for more information

[2020-06-30 11:11] apollusehs-devops opened #1416 "v0.4.3 starship-x86_64-pc-windows-msvc.zip not added to release"
## Bug Report

#### Current Behavior

#### Expected Behavior

#### Additional context/Screenshots

#### Possible Solution

#### Environment
- Starship version: [the output of `starship --version`]
- Shell type: [fish, zsh]
- Shell version: [the output of `fish --version` or `zsh --version`]
- Shell plugin manager: [e.g. oh-my-fish, oh-my-zsh, fisher, antigen]
- Terminal emulator: [e.g. iTerm, Hype

[2020-06-30 11:31] ATiltedTree commented on #1416
Duplicate of #1414
Also see #1412

[2020-06-30 11:31] #1416 closed

[2020-06-30 11:39] dten commented on #1240
here because it's painfully slow and i've just disabled it in the starship config instead.
also as a stack user the system `ghc` version is irrelevant to me and i'm kind of more interested in what snapshot is the target.
however i'm not interested in either enough to incur a 1.5 second delay on every prompt

[2020-06-30 11:50] dten commented on #940
also disabling `[git_status]` because it takes 4 seconds to complete but actual `git status` is 0.1

[2020-06-30 12:22] ipelekhan opened #1417 "Can't install from sources using Cargo on Windows10"
## Bug Report

#### Current Behavior
Can't build from source running:

[code]

Getting an error:
[code]

#### Expected Behavior
Everything compiles and installs.

#### Additional context/Screenshots

N/a

#### Possible Solution

I don't know 🤷‍♂️

#### Environment
- Starship version: n/a/
- Shell type: Git for Windows (MSYS/Cygwin I guess)
- Shell version: GNU bash, version 4.4.23(1)-release (x86_

[2020-06-30 14:18] ipelekhan commented on #1417
Hm, I guess I somehow corrupted my MSVC installation. Reinstalled `rustc` and got successful build. Sorry for the miss-report.

[2020-06-30 14:18] #1417 closed

[2020-06-30 16:34] andytom commented on #1414
I have updated the release notes for the [`0.43.0`](https://github.com/starship/starship/releases/tag/v0.43.0) release to hopefully make this a bit clearer.

[2020-06-30 19:59] matchai commented on #940
As a heads up, we've got a rewrite in the works that _substantially_ reduces time spent on git status.
After the release of #1057, this will be the next major milestone we'll be working on.

[2020-06-30 20:09] romkatv commented on #940
Can you share any information on how this speed up is achieved?

[2020-06-30 20:23] matchai commented on #940
The main improvement on the git side of things is thanks to dropping libgit2 in favor of calling git directly.

[2020-06-30 20:29] romkatv commented on #940
Makes sense. Thanks for the info.

By the way, before ditching libgit2 in gitstatus I’ve also tried linking with git and calling its function. This is really difficult and doesn’t pay off compared to forking into regular `git` and passing the output. So it’s a good call for starship to invoke `git`.

[2020-06-30 20:43] chipbuster commented on #886
Failure on #1418, testsuite failure on macOS stable compiler, on commit ae98c9bfd898e79ca69efa50f73daed9fa96e968 which only appears to modify the Haskell module code.

[code]

Disappears after a rebuild.

Between this and #1211, I am now fairly certain that we do, in fact, have some sort of race condition going on here.

[2020-06-30 20:44] chipbuster commented on #1211
@ignatenkobrain If I may ask, how many CPUs does one of those machines have? I tried searching it up, but there's too much other information out there for me to find anything (or my google-fu needs work, not sure which).

[2020-06-30 23:09] matchai commented on #1414
Microsoft has confirmed that it was a false-positive and has cleared the detection, and v0.43.0 release has been updated to have the Windows binary re-added.

If you see the v0.43.0 release flagged by Windows Defender, please follow these steps to clear your cached detection and obtain the latest malware definitions:

1. Open command prompt as administrator and change directory to c:\Program Files

[2020-06-30 23:09] #1414 closed

[2020-07-01 00:49] jrwrigh commented on #1408
I have also encountered this issue starting today, but it is with the changed files symbol `[!]`. Similarly, `git status` returns `nothing to commit, working tree clean`. This has occurred on different machines in different git repositories. The only change that I can think of that could have caused this was an update to oh-my-zsh.

[2020-07-01 09:22] sixtyfive opened #1419 "Compilation fails on Ubuntu 20.04"
During `cargo install starship` this eventually happens:

[code]

Full error message:

![9kx2MpZ](https://user-images.githubusercontent.com/192860/86228040-2e043800-bb8e-11ea-9856-d6e26e8ba1bc.png)

Perhaps a problem with that Ubuntu version's Rust compiler?

[2020-07-01 17:10] andytom commented on #1419
Hi @sixtyfive, this is probably going to be related to the version of rust that you are using, what version of `rustc` and `cargo` do you have installed?

[2020-07-01 18:57] andytom commented on #1370
Hi @olets, sorry I should have caught that first time around. Yep we don't load the shell rc files by default since we don't want to get stuck in an infinite loop where the custom module loads starship which runs the custom module which loads starship again. I'm going to close this now but if more users experience this issue we can always update the docs to clarify.

[2020-07-01 18:57] #1370 closed

[2020-07-01 19:07] olets commented on #1370
Yeah once I thought about it, of course the shell wouldn't load the interactive environment on every command. The current behavior is the way it should be.

Thanks!

[2020-07-01 21:31] sixtyfive commented on #1419
Both are 1.41.0. I'll happily give more info, too, just let me know, @andytom!

[2020-07-02 01:10] jrwrigh commented on #1408
I've also just upgraded to 0.43.0 and the behavior is still present. I was running 0.37.0.

Also note that the prompt hangs whenever it reloads in a git repository directory.

[2020-07-02 01:53] jrwrigh commented on #1408
Deleting and re-cloning the repository does get rid of the `[!]`, but I'd hardly call that a solution. Something else is clearly going on here.

Gathering all the starship versions that this occurs on, I have:
 - `0.43.0`
 - `0.37.0`
 - `0.34.0`

[2020-07-02 06:39] davidmathers commented on #972
I found this issue because I have the same problem. Having learned that z.sh is the culprit I experimented by editing my bashrc and moving the line that loads z.sh to below the line that loads starship. This fixed the issue for me.

[2020-07-02 16:48] Freaky opened #1426 "Directory module panics in non-UTF-8 folder"
## Bug Report

#### Current Behavior

[code]

#### Expected Behavior

[code]

#### Possible Solution

Cause is this final `unwrap()`: https://github.com/starship/starship/blob/4c12f3c6b640e423664d10890afe5b405f9b768b/src/modules/directory.rs#L131-L135

I suggest using `to_slash_lossy()` instead, since this is just for display purposes.  A possible future improvement would be to support quote style

[2020-07-02 16:56] Freaky commented on #1426
Hmm, test fails, but it doesn't appear to be my fault :P

[code]

Does so on master as well.

[2020-07-02 17:13] Freaky commented on #1426
Actually I guess this should be rolled into the pending rewrite in #1209

[2020-07-02 17:17] Freaky commented on #1426
Fix there if anyone wants it, anyway.

[2020-07-03 00:18] happysalada commented on #1419
I have the same problem on macOs with rust 1.42
I am running `cargo install`

[2020-07-03 04:25] kaushalyap opened #1427 "Improve default command prompt color on failure"
## Feature Request

#### Is your feature request related to a problem? Please describe.
With current default behavior when a command fails, next command prompt is shown in red while failed commands prompts shown in green

#### Describe the solution you'd like
Instead flip things around command prompt of the failed command in red and next command prompt in green.

**Why do this?**
In generally fail

[2020-07-03 12:25] Sharpeee commented on #560
How about something like this?
[code]

I think this should eliminate the `Ctrl+L`/`clear` problem as well and handle the `root` situation as well.

Note, I am not a Rust programmer. In fact, this is my first Rust code, so you can probably do better. I have only tested this using `cargo run -- prompt` as I do not know how to use this binary outside of the project tree.

[2020-07-03 15:20] kakulukia opened #1430 "show ssh connection status"
## Feature Request

#### Is your feature request related to a problem? Please describe.
Id like to explicitly sow the connection status and let the username have another color when connected via ssh.

#### Describe the solution you'd like
I guess starship can already handle this sine in the username module it says "The user is currently connected as an SSH session". So the basics are already prese

[2020-07-03 16:39] andytom commented on #1427
Hi @kaushalyap, If you want to change the style of the command prompt you can already do that by changing the `style_success` and `style_failure` variables of the [character module](https://starship.rs/config/#character).

[2020-07-03 16:43] andytom commented on #1419
No that is enough, the problem should be fixed if you upgrade to a newer version of rust. This feature was added in [`v1.43.0`](https://github.com/rust-lang/rust/blob/master/RELEASES.md#version-1430-2020-04-23) so anything more recent than that should work.

Unfortunately that is a know issue at the moment, see #940.

[2020-07-03 17:32] sixtyfive commented on #940
I could also offer 10+ _minutes_ instead of seconds. After that my patience ran out :-). FWIW: directory containing git repository holding 10s of 1000s of files (but in subdirectories of the directory holding the .git directory).

[2020-07-05 01:01] necrose99 opened #1431 "arm64 builds"
[starship_2.zip](https://github.com/starship/starship/files/4874238/starship_2.zip)

**local build , rpi4...**

[code]

[2020-07-05 01:02] necrose99 commented on #1431
striped some of the deps etc, etc as the full crates for build mushrooms to 150 ish megs..

[2020-07-05 07:06] kaushalyap commented on #1427
It would good to have what I suggested as default behavior do not you think?

[2020-07-05 08:05] #1419 closed

[2020-07-05 08:05] andytom commented on #1419
I am going to close this since I think this is resolved but feel free to reopen if that is not the case.

[2020-07-05 17:20] #1395 closed

[2020-07-05 17:22] #1327 closed

[2020-07-05 17:24] andytom commented on #1427
Personally, I don't think changing the default `style_success` to red and `style_failure` to green would be a good change. I look at the current defaults like traffic lights, if the prompt character is green then I am good to go on and run a new command if it is red then I need to stop and check the last command. I think changing the defaults would be both confusing for starship's current users wh

[2020-07-05 17:51] yuri1969 commented on #560
@Sharpeee Just a quick observation. On my machine (Linux urxvt+Bash), it takes over 1sec to render when running the patched binary as a prompt (on `$PATH`).

[2020-07-05 18:12] andytom commented on #1431
I think this might be related to #315.

[2020-07-05 20:21] Sharpeee commented on #560
@yuri1969 I have seen some weird behaviour as well. It works as expected when I run it through `cargo`, but fails when running as stand-alone. I will look into it when I have time.

If it does not work using `crossterm`, maybe there is another way to get the current cursor position?

[2020-07-05 21:19] necrose99 commented on #1431
### [starship-RPMs+debs.zip](https://github.com/starship/starship/files/4875662/starship-RPMs%2Bdebs.zip)
hopefully the rpmspec/debspecs will be of further use.

**Cargo EBUILD , however is borking a bit for this else I'd not care to even botheer to spinkles these ziped builds.
as gentoo for platforms will just build... riscv-64 no problemo... powerpc , amd64 yup& yup....**

****https://github.com

[2020-07-05 21:22] necrose99 commented on #315
https://github.com/starship/starship/issues/1431
Gentoo cargo-ebuild , kida borkage ...  ne rate , cargo rpm/deb wala builds with rpmspecs etc..

[code]

[2020-07-05 23:25] eugeneware commented on #1091
Can confirm that this doesn't work on ubuntu 16.04 also:

[code]

[2020-07-05 23:28] eugeneware commented on #1091
I can also confirm that installing this release on ubuntu 16.04 does work.

[2020-07-06 00:04] matchai commented on #1427
It sounds to me like you are suggesting we retroactively change the color of the prompt after a command has been made.
Unfortunately that's not possible given how Starship works today.

[2020-07-06 00:13] matchai commented on #315
@necrose99 - Can you please clarify what these logs are illustrating? It looks to me like the built binary is running correctly given how the help messaging is showing up. Have you tried running `starship init` providing which shell you're running? E.g:
[code]

[2020-07-06 01:45] zacharywhitley commented on #1091
starship-x86_64-unknown-linux-musl.tar.gz appears to work on Centos 7 as well.

[2020-07-06 02:04] kaushalyap commented on #1427
@andytom Traffic lights analogy make sense. I have not used customized prompts other than simple prompt coloring before so this is new to me, if other prompts do the coloring same it may damage consistent DX across prompts with the damage to existing user's DX.

As @matchai said it seems it is not possible implementation wise also.

[2020-07-06 08:02] b3b00 opened #1441 "build for x86_64-msys_nt-10.0-17134"
## Feature Request

Could it be possible to create a build for  x86_64-msys_nt-10.0-17134 ?
When trying to install starship under  x86_64-msys_nt-10.0-17134  I got following error

[code]

[2020-07-06 08:24] Aelnor commented on #1296
I can take it if we'd like to implement this module in the first place.

[2020-07-06 09:18] davidkna commented on #1319
`dirs` appears to be maintained again.

[2020-07-06 12:22] developer-guy opened #1442 "helm support"

[2020-07-06 15:26] vladimyr commented on #1442
@developer-guy When you say helm, what exactly we are talking about? 🤔

[2020-07-06 15:39] developer-guy commented on #1442
https://helm.sh

[2020-07-06 16:56] matchai commented on #1442
@developer-guy Can you please update the issue to have it filled with the  "Feature Request" template.
As someone who hasn't used Helm before, I'd like a bit of context. What would a helm user need added to the prompt?
Is the data provided by a command or can it be retrieved from a file?

[2020-07-06 16:57] developer-guy commented on #1442
@matchai ok i will update the issue soon 🤛

[2020-07-06 17:00] #1240 closed

[2020-07-06 17:35] developer-guy opened #1443 "Helm Support"
## Feature Request

#### Describe the solution you'd like
Helm as simply as possible is a package manager for Kubernetes. We simply deploy applications to the Kubernetes using Helm's package format called Chart.

Sometimes we might need to know about Helm's version that I am using on Kubernetes cluster. We can simply get the version information of Helm with version command like below:

[code]

I t

[2020-07-06 17:36] developer-guy commented on #1442
@matchai we can continue from issue #1443

[2020-07-06 17:36] #1442 closed

[2020-07-06 20:20] matchai opened #1446 "Replace the use of git2 with calls to the Git CLI"
## Feature Request
Our biggest performance bottleneck has always been git2, performing considerably worse than calling `git` directly.

This task is to replace our existing use of git2 with calls to `git`, allowing us to remove the dependency altogether and improving performance across the board. If `git_status` improves in speed, the whole prompt improves in speed.

This is already implemented as

[2020-07-07 02:44] necrose99 commented on #315
initial build and init'l  testing , i packed rpms , and initial ebuild has been sourced to rust by gentoo-devs.
**"kick the tires" from build dir,**  on RPI4 Gentoo install.
**POC/proof of work basically..**
oh-my-bash/zsh  supposed to clean up shell but make path's hidden etc.. add plugins ,, but meh...
this looks more on the fly fun and configurable long term that is.

https://github.com/starshi

[2020-07-07 19:04] andytom commented on #1443
Thanks for the suggestions @developer-guy do you have any suggestions for what files we could trigger this module on other than `Chart.yaml`?

For anyone interested in implementing this probably best to use `helm version --client --short` to get the version so it works with helm v2 and v3.

[2020-07-07 20:04] developer-guy commented on #1443
thanks @andytom, Helm Chart is basically a structured folder format and looks like following:
![Screen Shot 2020-07-07 at 23 01 58](https://user-images.githubusercontent.com/16693043/86836245-e574df00-c0a5-11ea-9bc6-7ac95c6f8af6.png)
maybe we can use templates/ folder, NOTES.txt, values.yaml files etc. to trigger this module.

btw, you are right,  `helm version --client --short` command might be a

[2020-07-07 22:45] #1057 closed

[2020-07-07 22:45] #337 closed

[2020-07-07 22:45] #687 closed

[2020-07-07 22:45] #1208 closed

[2020-07-08 03:23] ianfabs opened #1453 "starship character module success and error segments aren't rendered."
#### Current Behavior
The default prompt character is rendered, regardless of whether the
`success_symbol`, or `error_symbol` segments are set. Only if I specify the `symbol` segment in the `character` module can I change the prompt char.

#### Expected Behavior
I expect the `success_symbol`, or `error_symbol` segments to affect the prompt character that is rendered, as described in the [docs](htt

[2020-07-08 08:13] andytom commented on #1443
I'm quite familiar with the helm directory layout have been doing a lot of work using helm recently 😀. I was thinking more about things like `helmfile.yaml` from https://github.com/roboll/helmfile which would be a good indication that someone is using helm, `templates/` folder, `NOTES.txt` and `values.yaml` might be a bit too generic and trigger too many false positives.

[2020-07-08 09:28] developer-guy commented on #1443
oh sorry, @andytom 😅  , you might be right but there is no %100 correct files to trigger helm module I think, we should found some of them.

[2020-07-08 11:11] gerrywastaken commented on #346
Just so it's clear to everybody as it wasn't to me. While there has been a HUGE amount of work on this issue, the fix has not yet been released. The above issue linked by @sirMerr has also been closed but the **v0.45.0** release appears to be still waiting on the following:
https://github.com/starship/starship/milestone/3
Which (currently) only has one open ticket left:
https://github.com/starship

[2020-07-08 11:36] andytom commented on #1443
No worries, for now let's start with triggering the module if the directory has a `Chart.yaml` or `helmfile.yaml` we can always enable more as we find them.

[2020-07-08 12:45] Sharpeee commented on #560
FYI: I have moved back to a one line prompt (not because of this issue), so I will not look any more at this.

[2020-07-08 14:17] JonathanLorimer opened #1458 "Support for Haskell"
## Feature Request

#### Is your feature request related to a problem? Please describe.
My feature request isn't really regarding a problem, but perhaps if [spaceship prompt](https://github.com/denysdovhan/spaceship-prompt) parity is a goal then it is? I noticed that there is no icon for haskell / ghc, and I think it would be great if there was!

#### Describe the solution you'd like
A Haskell mod

[2020-07-08 15:13] developer-guy commented on #1443
Did you open the branch for This issue ?

[2020-07-08 15:15] andytom commented on #1443
No, I have not but feel free to work on this if you want.

[2020-07-08 15:35] matchai commented on #346
Thank you for clarifying @gerrywastaken!
For those following this issue, I'll re-close it once the issue is available in current Starship release. 🚀

[2020-07-08 15:51] matchai commented on #1458
Hey Jonathan – thank you for creating an issue.

We just recently removed Haskell support (#1418) due to the performance impact it had on the prompt rendering. I would love to have Haskell re-added, but we would need to find a way to find the ghc version in a quicker way than was previously done.

For anyone looking to implement this module, please read through #1240.

[2020-07-08 16:20] #1427 closed

[2020-07-08 16:24] JonathanLorimer commented on #1458
As a compromise you could use `ghc -- --numeric-version` to get the global ghc version. Stack lets you pin versions so it wouldn't always be accurate but it would be close. Additionally you could read from one of the three configuration files that haskell projects generally use. I am not sure how expensive reading from a file buffer would be, or if that is even possible within this project. Let me

[2020-07-08 16:34] andytom commented on #1441
I think this is a duplicate/will be fixed by the #1341, so I'm going to close this as a duplicate but feel free to reopen if I'm wrong.

[2020-07-08 16:34] #1441 closed

[2020-07-08 18:27] matchai commented on #1458
I'm not a Haskell dev myself, so I'm not totally clear on the implications on using `ghc -- --numeric-version` versus what we previously had: `stack ghc -- --numeric-version`.

Reading from files would be preferred over running a command. I would imagine that the values in those files wouldn't necessarily reflect the available Haskell runtime though, only the one that would be preferred for that p

[2020-07-08 18:27] chipbuster commented on #1458
I played around with this on my MacBook a few weeks back and took a look again just now--`ghc -- --numeric-version` takes almost 150ms when run cold, and speeds up to about 110ms when run repeatedly in a short time window (I assume some sort of MacOS caching artifact). These are show-stopping times for a language module--I actually blocked the

So about that...I looked into the `stack` source code

[2020-07-08 18:44] JonathanLorimer commented on #1458
@matchai unfortunately haskell has a couple build tools, so cabal (to my knowledge) uses the global compiler version, while stack uses its own pinned version. So if things were to be done absolutely _correctly_ we would do this:
* Stack: read the lts from stack.yaml (under the top level key `resolver`) and maybe have a map from lts to compiler versions (although this is a bad solution because it w

[2020-07-08 18:56] JonathanLorimer commented on #1458
also just to add some data points, this was the time for me:
[code]
On a 2015 macbook pro with decent specs.  If performance is a concern, could we not just disable haskell by default? Please correct me if my suggestions go against the existing patterns in the project.

[2020-07-08 20:31] chipbuster commented on #1458
Huh interesting. Mine is a 2015 as well, but I see numbers that are double yours. Perhaps there's a difference when running in an actual Haskell project directory? Or maybe it depends on if you install haskell platform vs. from homebrew?

For Stack, just displaying the resolver version is an interesting idea. Is a stack.yaml without a resolver version considered a valid stack file? Would there be

[2020-07-08 20:38] JonathanLorimer commented on #1458
system global non-project default options: `/etc/stack/config.yaml`
for user non-project default options: `~/.stack/config.yaml`

but I am pretty sure stack will break if an lts isn't defined. Also, I just learned that since stack 2.0 it can either be called `resolver` or `snapshot` but you can only have one. I think it would be sufficient to fail and not include anything if the resolver / snapsho

[2020-07-09 07:50] gerrywastaken commented on #346
Thank you @matchai! I really appreciate that approach. It would be great if Github added a second closed state for "released".

Already done :) For anybody else not familiar with Rust, the command you are looking for is `cargo build` and then the file that gets built is in the `target` directory.

[2020-07-09 21:11] drod3763 commented on #528
With the change you were waiting on merged, would you be able to do that PR now?

[2020-07-09 22:59] jcayzac commented on #1446
This is very interesting. For me, [gitstatus](https://github.com/romkatv/gitstatus) (based on libgit2) has been _orders_ of magnitude faster than the default gitprompt shipping in git's contrib folder (which calls `git`), so I'm not sure what is happening here.

Does Starship maintain a daemon in the background, like gitstatus?

[2020-07-10 00:26] matchai commented on #1446
[gitstatus](https://github.com/romkatv/gitstatus) is a considerable rewrite of git status fetching implemented in libgit2. Unfortunately, libgit2 is simply slower than `git` on its own: https://github.com/libgit2/libgit2/issues/4230

Not for the time being, no. We've discussed the possibility among maintainers, but it's not likely to happen in the near future.

[2020-07-10 01:53] matchai opened #1465 "Extra line-break present in Node.js projects"
#### Current Behavior

An extra `line_break` is present when the Node.js module is shown on Starship built from `master`.

#### Expected Behavior

A single line break is used, regardless which modules are shown.

#### Additional context/Screenshots

<details>
<summary><b>👉 Starship logs</b></summary>

[code]

</details>

Strangely, it seems I get the following log twice:
[code]

<img width=500 src

[2020-07-10 10:39] davidkna commented on #1446
Has using [the gitstatus libgit2 fork](https://github.com/romkatv/libgit2) instead of upstream libgit2 ever been attempted?

[2020-07-10 14:28] leexiaominghub opened #1466 "Starship didn't work"
intall:

curl -fsSL https://starship.rs/install.sh | bash
then:
which -a starship
/usr/local/bin/starship
echo $PATH
/Library/Java/JavaVirtualMachines/jdk1.8.0_221.jdk/Contents/Home/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/go/bin::/Users/lixiaoming/apache-maven-3.5.2/bin

cat ~/.zshrc
eval "$(starship init zsh)"
 cat ~/.bashrc
eval "$(starship init zsh)"
I try this :

source <("

[2020-07-10 15:22] #1387 closed

[2020-07-10 15:25] cappyzawa commented on #1466
Could you try the following, please?

https://github.com/starship/starship/discussions/1460#discussioncomment-35551

[2020-07-10 15:33] matchai commented on #1466
Closing as solved with https://github.com/starship/starship/discussions/1460#discussioncomment-35551.

[2020-07-10 15:33] #1466 closed

[2020-07-10 15:39] matchai commented on #1446
Not yet, no. I haven't delved too much into the [git2-rs](https://github.com/rust-lang/git2-rs) codebase, but I would worry that  changes to libgit2  break compatibility with the libgit bindings. It sounds like it'd be well worth trying though. 😄

[2020-07-10 15:41] #1465 closed

[2020-07-10 19:46] davidkna commented on #1446
I tested it with hyperfine. After changing it tests still pass.

In a lightly modified starship repo it performs a bit better:
| Command | Mean [ms] | Min [ms] | Max [ms] | Relative |
|:---|---:|---:|---:|---:|
| `starship module git_status` | 27.1 ± 5.2 | 17.8 | 36.9 | 4.71 ± 1.30 |
| `starship_mod module git_status` | 21.2 ± 7.6 | 10.4 | 46.6 | 3.68 ± 1.52 |
| `git status --porcelain` | 5.7 ± 1.

[2020-07-10 20:03] jburianek commented on #576
I'm seeing this too on macOS with Bash:
[code]

[2020-07-10 20:14] rpdelaney opened #1467 "Panic when style_user has malformed color"
## Bug Report

#### Current Behavior

When a style uses a malformed color code, a stack trace is printed instead of the prompt.

<details><summary>stack trace</summary>

[code]

</details>

#### Expected Behavior

`starship` should revert to the default configuration, as it does with other misconfigurations.

#### Environment
- Starship version: `starship 0.44.0`
- Shell type: `bash`
- Shell versi

[2020-07-11 09:45] Stupremee opened #1469 "Starship is slow in directories with many files"
#### Current Behavior
I have the official [rust](https://github.com/rust-lang/rust) repository (with ~130k files) on my pc.
Every time I `cd` into the folder, starship loads for a few seconds until it
is fully loaded. If a `cd` again in the folder, it only loads for about 1 second.

Also, if I enter a command, or just press enter without any command, it
hangs for probably half a second.

#### Expe

[2020-07-11 10:54] davidkna commented on #1469
This will be fixed by #1446 (see also #891 #597)
For what it's worth for listing directory contents with lots of files without git there's actually a timeout.

[2020-07-11 12:08] davidkna commented on #1446
I built `starship_mod` with `master` but on the `v0.44` tag the performance regression goes away. It looks like on `master` the `git_status` module is significantly slower.

Tested with `git2-rs` repo:
| Command | Mean [ms] | Min [ms] | Max [ms] | Relative |
|:---|---:|---:|---:|---:|
| `starship module git_status` | 159.8 ± 2.3 | 157.0 | 164.2 | 2.40 ± 0.08 |
| `starship_mod_v0.44 module git_stat

[2020-07-11 15:03] davidkna opened #1470 "On v0.45.0 the git_status module is about twice as slow as on v0.44.0"
## Bug Report
On master the git_status module is about twice als slow as on v0.44.0

#### Current Behavior

#### Expected Behavior

#### Additional context/Screenshots

#1446

I benchmarked it with the command: `hyperfine -w3 'starship module git_status' 'starship_master module git_status'  --export-markdown=bench.md`

`git2-rs` repo
| Command | Mean [ms] | Min [ms] | Max [ms] | Relative |
|:---|-

[2020-07-11 16:44] chipbuster commented on #1469
Honestly, I think without asynchronous prompt rendering, this is never going to be completely "solved," since there's always a bigger repo. The [benchmarks for gitstatusd on chromium repo](https://github.com/romkatv/gitstatus#benchmarks) look really good (because they are!), but they are running on some pretty nice hardware. When you swap that out for my not-new-but-still-not-bad desktop (a 3770K)

[2020-07-12 17:32] andytom commented on #1453
Hi @ianfabs, the new configuration won't work until the next release, the docs should still reference the current release if you use the following it should work the same:
[code]

[2020-07-12 19:33] tchajed opened #1471 "ocaml module prints an extra newline after version number"
#### Current Behavior
The OCaml module prints a newline as part of the version string:

[code]

where ordinarily there would be no empty line.

#### Expected Behavior

There should be no empty line, so the prompt should look like this:

[code]

#### Additional context/Screenshots

#### Possible Solution
The version string from `ocaml -vnum` should have whitespace trimmed, or it should be parsed fo

[2020-07-13 08:36] andytom commented on #1467
I had a quick look at this and I think the problem is the use of [`from_str_radix`](https://doc.rust-lang.org/std/primitive.u8.html#method.from_str_radix) in [`src/config.rs`](https://github.com/starship/starship/blob/master/src/config.rs#L387-L389) which panics if the radix is out of range e.g (`00`). I've not had time to look at fixing and probably won't for a little while so if someone else wan

[2020-07-13 20:12] Aelnor commented on #1371
That's weird. These tests don't fail in my environment and they were okay before the latest rebase :)
Will investigate.

[2020-07-13 21:30] Aelnor commented on #1296
What do you think, should I start it?

[2020-07-13 21:55] #1041 closed

[2020-07-14 00:06] matchai commented on #1296
I'd be open to having it be added to Starship 👍

[2020-07-14 07:00] Aelnor commented on #1296
Ok, I'm starting then :)

[2020-07-14 11:17] davidkna opened #1476 "directory(windows) lock symbol is always shown on SMB network shares"
#### Current Behavior

[code]

Even though it is writable and `New-Item -Type File -Path \\NAS\MY-SHARE\x` works.

#### Expected Behavior

Lock icon is not shown when directory is writable.
[code]

#### Additional context/Screenshots

#1298

It works correctly when the same network share is mapped to a drive: `
[code]
#### Possible Solution

#### Environment
- Starship version: 0.44.0 (master)
- p

[2020-07-14 13:40] andytom commented on #1471
Hi @tchajed, I think this should be fixed in the most recent release (`v0.44.0`) can you upgrade and see if that fixes it for you?

[2020-07-14 13:42] andytom commented on #1471
Side note just checking the code it looks like this was fixed but the fix got lost in the format strings release so this will need to be fixed in master.

[2020-07-14 14:16] tchajed commented on #1471
Yes, this is fixed - I just hadn't run `brew upgrade` in some time. Thanks!

[2020-07-14 14:16] #1471 closed

[2020-07-14 17:33] offbyone opened #1477 "Support finding dominating files/directories in custom commands"
## Feature Request

I have a custom command I would like to enable whenever I can find a "dominating file" anywhere, in much the same way as the `git` module would be enabled any time there's a `.git` directory up the directory tree from me.

Moreover... the contents of that file will be what are parsed to display the prompt contents. So, I'd like to be able to reference that matching path in the

[2020-07-14 17:44] offbyone opened #1478 "starship module --list does not show custom, and I can't run starship module custom.mymodule"
#### Current Behavior
`starship module --list` does not show custom modules:

[code]

In addition, when I attempt to run my custom module, it also fails:

`~/.config/starship.toml`:
[code]

[code]

#### Expected Behavior
I expect the module to at least be found. If it's not working, different story :D

#### Additional context/Screenshots

#### Possible Solution

#### Environment
- Starship version

[2020-07-14 17:45] offbyone commented on #1478
Note that I fixed the borked quotes in my toml command, and the behaviour didn't change.

[2020-07-14 21:08] #1371 closed

[2020-07-14 21:11] #1467 closed

[2020-07-14 21:56] offbyone opened #1480 ""explain" output alignment is foiled by multibyte unicode"
#### Current Behavior
Running `starship explain` results in a misaligned table when the prompt segments are multibytes

[code]

#### Expected Behavior
I expect an aligned table:

[code]

#### Additional context/Screenshots
Just in case markdown rendering mucks with it:

![image](https://user-images.githubusercontent.com/181693/87480432-31fa7600-c5e2-11ea-90be-58d96f592bfa.png)

#### Possible Solut

[2020-07-14 23:42] offbyone commented on #1478
So, it's not clear -- perhaps because I'm not fluent in toml -- that there needs to be a top-level `[custom]` entry, followed by the `[custom.other]` tables. That might be worth documenting. If time permits, I'll make a PR when I'm thinking about this and not at work

[2020-07-14 23:42] #1478 closed

[2020-07-15 07:53] ivankatliarchuk commented on #800
I would love to have at least `context_aliases` be more dynamic, e.g. function at least.
At this point in time, we have static example documented.
[code]

Which means

[code]

Why not to provide a function at least, that can help with parsing it? I have around 50+ clusters,
and they are addded and removed pretty much daily/weekly. It probably there, but not documented.
As well as something like st

[2020-07-15 17:43] ATiltedTree opened #1483 "ci(publish): Regenerate `CRATES_IO_TOKEN`"
## Bug Report

#### Current Behavior
The `CRATES_IO_TOKEN` in our CI environment is now invalid because of this security advisory:
https://blog.rust-lang.org/2020/07/14/crates-io-security-advisory.html

A new token has to be regenerated before our auto publish will work again.

If this has been already done then this can be closed.

[2020-07-15 21:07] matchai commented on #1483
Thank you for the heads up!
I went ahead and regenerated the token. 👍

[2020-07-15 21:07] #1483 closed

[2020-07-15 21:19] andytom opened #1484 "Ensure the mocked commands match the actual output of the actual commands"
#### Overview

We need to make sure that all the output of the mocked commands in [`utits.rs`](https://github.com/starship/starship/blob/master/src/utils.rs#L41-L145) match the output of the actual commands, including any trailing whitespace.

#### Context

Yep, this is something we need to look at. The mocks should match the output of the commands exactly, including trailing whitespace, this is s

[2020-07-17 07:51] #1443 closed

[2020-07-17 17:19] andytom opened #1487 "Add Helm package support to the package module"
## Feature Request

#### Is your feature request related to a problem? Please describe.

In #1443 we added support for displaying the Helm version. Helm is a package manager and it would be nice to display the version of a chart from the `Chart.yaml`.

#### Describe the solution you'd like

This should just be a case of updating [`src/modules/package.rs`](https://github.com/starship/starship/blob/

[2020-07-18 08:01] numToStr opened #1489 "docker version not showing"
## Bug Report

#### Current Behavior
Docker version not showing

#### Expected Behavior
Show Docker version when `docker_context` is enabled

#### Additional context/Screenshots
![Screenshot_20200718_132616](https://user-images.githubusercontent.com/24727447/87848060-4e582480-c8fa-11ea-9939-5583d50f8d69.png)

#### Environment
- Starship version: 0.44.0
- Shell type: zsh
- Shell version: 5.8
- Shel

[2020-07-18 11:09] davidkna commented on #1489
I believe the `docker_context` module is not supposed to show the docker version at all but the current [docker context](https://docs.docker.com/engine/reference/commandline/context/).

[2020-07-18 12:22] numToStr commented on #1489
I thought It will show the docker version. I am currently using [spaceship](https://github.com/denysdovhan/spaceship-prompt) which has a `docker` module.

[2020-07-18 16:17] matchai commented on #1489
Closing this in favor of #393.

[2020-07-18 16:17] #1489 closed

[2020-07-18 18:13] chipbuster commented on #886
Failure in #1360 in the python modules.

Unfortunately I don't have command output, since I was convinced that the failures were real after seeing the same ones 2x in a row. On the 3rd run (triggered by a push which did not touch the python modules at all), the error disappeared.

[2020-07-18 18:26] chipbuster commented on #1476
@Aelnor @Scotsguy Off the top of your head, do you have any idea why this might be happening?

[2020-07-18 18:31] Aelnor commented on #1476
Off the top I have no idea.
I will take a look

[2020-07-18 19:31] Aelnor commented on #1476
A quick investigation shows the current code behaves exactly the same for network shares and unwritable folders (`AccessCheck` is successful, the result is `FALSE` and `GetLastError` returns `ERROR_ACCESS_DENIED`).

I will continue digging.

[2020-07-19 17:54] dulltz commented on #901
By the way, what is the good default symbol for this module?
I think G is good since cloud ☁️ is already used by aws module.

[2020-07-19 18:00] dulltz commented on #901
There didn't seem to be any updates lately, so I was trying this issue.
Would anyone review my PR? https://github.com/starship/starship/pull/1493

[2020-07-19 21:01] #1484 closed

[2020-07-19 22:50] jthegedus commented on #901
AWS and GCloud have very different version numbers so using ☁️ for both seemed fine to me. Will give the PR a look

[2020-07-22 13:39] romkatv commented on #1469
Indeed. There is always a bigger repo, or a slower machine, or NTFS, or Windows.

[2020-07-22 14:01] numToStr commented on #393
Is there any progress regarding this feature? I would really love to switch from `spaceship-prompt`.

[2020-07-23 16:50] andytom commented on #1470
@matchai, I popped this in the [v0.45.0 milestone](https://github.com/starship/starship/milestone/3) since it seems to be a performance regression caused by the switch to format strings but I'm wondering if this is something that we should just live with for the v0.45.0 release and since we are going to getting rid of all the libgit2 stuff as part of [v1.0.0](https://github.com/starship/starship/m

[2020-07-23 16:51] matchai commented on #1470
Agreed. I think it'd be best if we held off until v1.0.0. 👍

[2020-07-24 20:21] xaocon opened #1508 "Won't compile without battery feature"
This doesn't open in the correct browser and is not specific to my configuration

## Bug Report

#### Current Behavior
Building without `battery` feature fails because of an incorrectly sized CONST array. Problem comes from the lines:
[code]

#### Expected Behavior
You should be able to build without the feature if the feature is going to exist

#### Additional context/Screenshots
[code]

#### Pos

[2020-07-24 21:42] #1508 closed

[2020-07-24 21:43] davidkna opened #1510 "Prompt on master is broken"
## Bug Report

#### Current Behavior
[code]

#### Expected Behavior

#### Additional context/Screenshots

This is not caused by #1509
#### Possible Solution

#### Environment
- Starship version: [the output of `starship --version`]
- Shell type: zsh
- Shell version: 5.8
- Shell plugin manager: [e.g. oh-my-fish, oh-my-zsh, fisher, antigen]
- Terminal emulator: Gnome Terminal
- Operating system: Fed

[2020-07-24 23:17] matchai commented on #1510
Looks like it's not escaping the colors correctly for zsh.
Try running it with `STARSHIP_SHELL=zsh`.

[2020-07-25 02:09] WinteryFox opened #1513 "error while loading shared libraries: libssl.so.1.1"
Whenever I run `eval "$(starship init bash)"` to initialize starship it spits out the following error (on Void linux);
`starship: error while loading shared libraries: libssl.so.1.1: cannot open shared object file: No such file or directory`
Creating sim links for libssl and libcrypto then spits out an error about versioning information being required.

[2020-07-25 03:38] chipbuster commented on #1513
The updates to libssl versions are doing interesting things to our older systems.

[Are you able to run the `unknown-linux-musl` binary](https://starship.rs/faq/#how-do-i-run-starship-on-linux-distributions-with-older-versions-of-glibc)? You can get that either by running `curl -fsSL https://starship.rs/install.sh | bash -s -- --platform unknown-linux-musl` or by [manually downloading the release]

[2020-07-25 06:59] davidkna commented on #1510
Same thing:
[code]

In bash 5.0.17:
[code]

It looks fine with `STARSHIP_SHELL` unset.

[2020-07-25 07:38] davidkna commented on #1513
Did you install starship from the official void repos? [It looks like they don't list openssl/libressl as a direct dependency](https://github.com/void-linux/void-packages/blob/master/srcpkgs/starship/template) though there could a an implicit dependency.
If so, do you have libressl installed? You mention symlinking `libssl.so.1.1` but shouldn't libressl (if installed) be present in that form?

[2020-07-25 13:06] WinteryFox commented on #1513
Apparently void has a package for starship already, I installed that and now it works.

[2020-07-25 13:06] #1513 closed

[2020-07-25 21:42] davidkna commented on #1510
Nevermind. Everything looks good with `eval $(./target/debug/starship init zsh)` instead of `./target/debug/starship prompt`.

[2020-07-25 21:42] #1510 closed

[2020-07-26 22:23] LPGhatguy opened #1514 "Emoji and Colors are strange in Alacritty on Windows"
#### Current Behavior
The default status line seems to have inconsistent extra characters around emoji, and the coloration is applied to the wrong glyphs.

#### Expected Behavior
I expected the status line to look like the documentation!

#### Additional context/Screenshots
![alacritty_3pCoBxC3SO](https://user-images.githubusercontent.com/654598/88490770-d2da2100-cf52-11ea-9720-adffea81af9c.png)

[2020-07-26 22:27] matchai commented on #1514
It looks like it may have to do with Emoji handling in Alacritty.
I'd suggest taking a look at the solutions listed in this issue:
https://github.com/alacritty/alacritty/issues/153#issuecomment-620571405

[2020-07-26 23:28] LPGhatguy commented on #1514
It does not look like that issue is related to Windows, sadly, only Unix-like systems. I did find an open issue issue for Alacritty here, though: https://github.com/alacritty/alacritty/issues/3082

The last comment on the issue seems to indicate that greyscale emoji should work, but it doesn't seem like they do yet! 😅

[2020-07-27 01:42] EdBab opened #1515 "Can starship support tcsh?"
I received this message when trying to use starship on tcsh:
"printf "\ntcsh is not yet supported by starship.\nFor the time being, we support bash, zsh, fish, and ion.\nPlease open an issue in the starship repo if you would like to see support for tcsh:\nhttps://github.com/starship/starship/issues/new"\n\n"

Unfortunately, tcsh is what my company uses, and their is no way around it

Any chance yo

[2020-07-27 16:11] brsanthu opened #1521 "Show time in the top line of the prompt"
## Feature Request

#### Is your feature request related to a problem? Please describe.
When I enable time module, it shows the time in second line. I would like to see that timestamp shown in first line either at start of line or end of line (right aligned)

#### Describe the solution you'd like
Add configuration to show the time on first time instead of showing in second line

#### Describe alte

[2020-07-27 16:18] brsanthu opened #1522 "Update time module to reflect the timestamp when command was executed"
## Feature Request

#### Is your feature request related to a problem? Please describe.
When time is enabled, it show the timestamp when prompt was rendered. When we enter the command, the timestamps stays put. It would be nice to show when that command was entered instead of keeping it as when prompt was rendered.

#### Describe the solution you'd like
Update the timestamp when user enters the co

[2020-07-27 16:55] brsanthu opened #1523 "Provide mechanism to change background color based on some text"
## Feature Request

#### Is your feature request related to a problem? Please describe.
We want to highlight prompt with red color when aws profile is set to prd but no bg color if it is other profile. This is to give a hint to the user that they are working with production profile.

#### Describe the solution you'd like
Some configuration that allows to specify bg color based on the dynamic text.

[2020-07-27 17:27] andytom commented on #1523
Hi @brsanthu, this looks like the same issue as #1124 so I am going to close it as a duplicate.

[2020-07-27 17:28] #1523 closed

[2020-07-27 17:38] jsnider-mtu opened #1524 "DEBUG trap not preserved in bash"
#### Current Behavior
DEBUG trap set in .bashrc is not being preserved by Starship. At the end of .bashrc the command `eval "$(starship init bash)"` results in the following command being run: `source <("/usr/local/bin/starship" init bash --print-full-init)`

`source` does not inherit the DEBUG trap by default:

Since `source` does not inherit the DEBUG trap, `$dbg_trap` is not being set and Stars

[2020-07-27 17:42] jsnider-mtu commented on #1524
I forgot to mention that I initially tried to fix by using `set -o functrace` but this resulted in a lot of errors I didn't understand and the Starship prompt not being rendered.

[2020-07-27 17:49] andytom commented on #1522
Hi @brsanthu, this is the same issue as #1124 so I'm going to close this as a duplicate

[2020-07-27 17:49] #1522 closed

[2020-07-27 18:08] matchai commented on #1521
Hey @brsanthu! Thank you for opening an issue.
I'll be closing this issue in favor of this issue for a more generic solution: https://github.com/starship/starship/issues/498

[2020-07-27 18:08] #1521 closed

[2020-07-27 19:35] andytom commented on #1514
From the linked issues this looks like an upstream issue rather than an issue with Starship so I'm going to close this.

[2020-07-27 19:35] #1514 closed

[2020-07-27 22:42] jsnider-mtu commented on #1524
Not sure where the errors I mentioned in the previous comment had come from because I tried `set -o functrace` again after a reboot and everything is working. I also added `set +o functrace` after the Starship initialization. Closing this.

[2020-07-27 22:42] #1524 closed

[2020-07-28 15:47] lousyd opened #1528 "Prerequisites Incomplete: OpenSSL and Glibc"
## Bug Report

#### Current Behavior
Current install instructions lists prerequisites, but the list is incomplete. Also, the bash script installer does not check for all necessary prerequisites before continuing with install.

#### Expected Behavior
List of prerequisites in the install instructions should also include glibc 2.18 and openssl-libs 1.1. Also, the bash script installer should check fo

[2020-07-28 16:45] romabysen opened #1529 "Wrong Python version shown when PIPENV_VENV_IN_PROJECT is set to 1"
#### Current Behavior
When Pipenv's virtual environment is in the project folder (PIPENV_VENV_IN_PROJECT=1), the Python module will not use the right Python interpreter and will use the system interpreter instead.

#### Expected Behavior
The Python module should use the interpreter executable `.venv/bin/python` for the version information.

#### Environment
- Starship version: 0.44.0
- fish versio

[2020-07-28 19:33] andytom commented on #1528
Hi @lousyd I think there might be some overlap with #109. I think as a work around you can try using the musl builds since they should be statically linked.

[2020-07-28 19:51] andytom commented on #1529
Hi @romabysen, is this still the case if you activate the virtualenv since by default starship just executes `python --version` and parses the result.

[2020-07-28 20:17] andytom opened #1530 "Use a monotonic clock for calculating the timeout in starship::context"
We should switch to use a monotonic increasing clock when calculating the timeout in `starship::context`.

_Originally posted by @whatisaphone in https://github.com/starship/starship/pull/1499#issuecomment-664707458_

[2020-07-28 21:23] chipbuster commented on #1515
If you (or anyone else) wants to write an adapter for it, we'd be happy to accept a PR! The FAQ on this topic can be seen at starship.rs/faq, and the current initscripts can be seen at https://github.com/starship/starship/tree/master/src/init

[2020-07-29 12:06] #1487 closed

[2020-07-29 14:10] lousyd commented on #1528
Yes, there is some overlap. I'm just suggesting to update the documentation as appropriate. But I suppose if the installer had fallen back to the statically linked executable, it wouldn't have been an issue anyway! Thanks for the reference, @andytom !

[2020-07-29 15:38] #609 closed

[2020-07-29 20:37] vsviridov opened #1533 "Escape sequences are printed instead of colors after running a cygwin gui app"
#### Current Behavior

Running a cygwin GUI app breaks the escape sequence parsing
![image](https://user-images.githubusercontent.com/221684/88850471-4b81ed00-d1a0-11ea-83f5-8c20e221665b.png)

#### Expected Behavior

![image](https://user-images.githubusercontent.com/221684/88850488-5177ce00-d1a0-11ea-9182-ba0b460cfd45.png)
Shell should retain colors and custom icons

#### Environment
- Starship v

[2020-07-30 06:07] jawang35 opened #1536 "Allow Conda module to ignore base environment"
## Feature Request

#### Is your feature request related to a problem? Please describe.
Showing `C base` for the `base` Conda environment can be noisy, especially when the `base` environment is activated by default and is not tied to the existence of configuration files or specific file types.

#### Describe the solution you'd like
`ignore_base` boolean configuration for the Conda module.

[2020-07-30 06:07] jawang35 commented on #1536
I'd be happy to open up a pull request to implement this feature if the proposed solution is acceptable.

[2020-07-30 11:11] andytom commented on #1536
Hi @jawang35 I'm not a Conda user but from skimming the docs your suggestion seems like the right thing to do, I think it might even make sense to go a little bit further and have the `ignore_base` default to true. I have assigned the issue to you so feel free to open a PR.

[2020-07-30 11:33] djc commented on #1133
I'm curious why this is tagged with the upstream label. If it can be switched on/off by enabling configuration, how can it be due to an upstream issue?

I just checked and this is unrelated to nushell embedding starship. If I run starship directly, I see the same behavior:

<img width="345" alt="Screen Shot 2020-07-30 at 13 32 58" src="https://user-images.githubusercontent.com/158471/88918093-30c7

[2020-07-30 13:39] phiresky commented on #1074
Since it looks like the binaries are created by GitHub Actions,  I think it could pretty much be as simple as adding

[code]

to the [deploy.yml](https://github.com/starship/starship/blob/master/.github/workflows/deploy.yml)

Here's an example workflow that works: https://github.com/phiresky/ripgrep-all/blob/master/.github/workflows/release.yml

[2020-07-30 14:40] davidkna commented on #1074
starship depends on openssl on linux with glibc (libgit might need work too) so unless we vendor it like in the MUSL builds or disable the http client, cargo needs to be directed to an aarch64 openssl directory on cross builds. musl builds, windows and macos builds might work already because they don't use openssl or vendor it.
If this work isn't done, at some point I expect github actions to add

[2020-07-30 14:49] phiresky commented on #1074
Ah. I thought ripgrep-all also depended on openssl (and builds fine) because I had problems with openssl builds on Windows in the past, but maybe that was just some travis-ci thing.

[2020-07-30 14:58] jawang35 commented on #1536
@andytom I think it makes sense to default to `true` too. I'll add that to the PR.

[2020-07-30 16:08] chipbuster commented on #886
Several failures in #1506, exacerbated through rerunning the CI actions: on first rerun, even more tests failed, in both stable and nightly.

Purely a gut feel backed by no data, but I get the feeling that this has been getting worse in the last few weeks, both in terms of frequency of failures and how many reruns it takes to get a passing build.

[2020-07-30 16:22] #1476 closed

[2020-07-30 16:34] andytom commented on #886
I was going to comment saying the same think, also anecdotal but it seems to have happened on every PR I looked at in the last week or so.

[2020-07-30 16:37] andytom commented on #1133
That was probably me being a little bit over zealous when I saw the linked issues in the nushell repo.

[2020-07-30 16:57] #1536 closed

[2020-07-30 17:29] davidkna commented on #886
That might be useful to show if the failures are compiled into the test executables or caused by interactions with the system (or will that recompile the tests?).

[2020-07-30 17:40] andytom commented on #886
I've opened a draft PR (#1540) so we can see what happens.

[2020-07-31 16:02] ChrisChinchilla opened #1542 "Explore documentation link takes you to the home page"
## Bug Report

#### Current Behavior
When visiting - https://starship.rs/guide/ clicking the link "Explore the Starship docs" takes you back to the home page. It should probably be https://starship.rs/config/?

i tried to make a PR, but got stuck in an alias loop and was a little confused as to what file I should change, sorry!

#### Expected Behavior
I am taken to the docs.

#### Possible Solutio

[2020-07-31 23:13] dgengtek opened #1543 "Configuration file is a symbolic link"
## Bug Report

#### Current Behavior
Configuration file is not used if it is a symbolic link

#### Expected Behavior
I would expect the application to not care if its configuration file is a symbolic link and lookup the resolved path on its own.

#### Additional context/Screenshots
[code]

#### Environment
- Starship version: 0.44.0
- Shell type: bash
- Shell version: GNU bash, version 5.0.17(1)-r

[2020-08-01 10:04] andytom commented on #1543
Hi @dgengtek, I've been trying to reproduce this locally but so far have been unable to.

[code]

Can you try running `STARSHIP_LOG=debug starship prompt` and paste the output here.

[2020-08-01 10:22] davidkna commented on #886
I looked up how `.sync_all()` works in rust and [`man 2 fsync`](https://linux.die.net/man/2/fsync) implies:

Maybe before tests are run on -nix the tempdirs need to opened and synced? A global `Command::new("sync")` each time could work too.

[2020-08-01 15:56] dgengtek commented on #1543
Hi @andytom, thanks for the quick reply
´´´
DEBUG starship::config > STARSHIP_CONFIG is not set
 DEBUG starship::config > Using default config path: /home/u/.config/starship.toml
 DEBUG starship::config > Unable to parse the config file: failed to parse datetime for key `add_newline` at line 1 column 15
 DEBUG starship::modules::directory > Current directory: "/home/u"
 DEBUG starship::modules::di

[2020-08-01 17:56] andytom commented on #1543
No problem, glad this solved your problem

This is something we are aware of and will hopefully be fixed in the near future, see #1075 for more information.

[2020-08-01 17:56] #1543 closed

[2020-08-02 01:37] DianaNites commented on #1102
Still a major issue on the latest starship????????????

[2020-08-02 05:29] chipbuster commented on #560
Related issue at spaceship: https://github.com/denysdovhan/spaceship-prompt/issues/462

Looks like Spaceship hasn't solved this issue either. I tried applying the patch from https://github.com/maximbaz/spaceship-prompt/commit/815b68c70f21c5512765c87985897b98b8ed232c to the current version of spaceship, but it straight-up doesn't work--it just disables the newlines altogether.

The [issue that @yur

[2020-08-02 05:29] chipbuster commented on #560
If we're shooting for ANSI-compatible terminals, I suppose we could [try using ANSI escape codes to query the cursor position](https://stackoverflow.com/questions/8343250/how-can-i-get-position-of-cursor-in-terminal), but we'd need some way to intercept that response before it gets printed to the terminal. We *do* currently use ANSI color codes already, but I don't know how general the support is

[2020-08-02 07:50] andytom commented on #1102
For now yes but this will be resolved as part of the v0.45.0 release.

[2020-08-02 08:09] andytom commented on #652
There is a work around for this by using the [`python_binary`](https://starship.rs/config/#python) configuration option to tell Starship to use a different python binary to get the version e.g
[code]

[2020-08-02 11:29] lo48576 commented on #705
FYI: #1102 for hostname formatting.

[2020-08-02 22:10] andytom opened #1549 "Restore the add_newline config option"
In #1056 we deprecated the `add_newline` config option. Following a discussion on #1546 it looks like this was a mistake and we should restore this option.

_Originally posted by @matchai in https://github.com/starship/starship/pull/1546#issuecomment-667729821_

[2020-08-02 22:48] jguhlin opened #1550 "Include conjunctions (`on`, `via`, etc.) in starship explain?"
## Bug Report
[code]

However, the prompt is
```compute1 ~/.config via (c)base```

"via" is being inserted but not sure which module is putting it there, or where it is coming from?

I think it should be possible to disable it. Thanks!

[2020-08-03 00:03] chipbuster commented on #1550
Interesting point. I never considered that the conjunctions should be part of explain. Perhaps a possible enhancement to the explain feature?

To answer your immediate question, it's being placed there by the conda module, as part of the model we adopted from spaceship where each module prints a join-word (I forget the actual term we use for it) between the previous module and itself.

To answer (

[2020-08-03 00:06] jguhlin commented on #1550
Ahhh, thanks so much for the explanation! I was trying suffix, prefix, etc.. to try and cut it away. Thanks for the update!

[2020-08-03 03:46] romabysen commented on #1529
It does indeed work after running `pipenv shell`. I don't think that's the general workflow with Pipenv though. I almost never activates the shell and use `pipenv run` without activating the virtualenv almost exclusively.

[2020-08-03 07:37] vityafx opened #1551 "Consider adding a time-out for fetching the git information or fetch it in parallel"
## Feature Request

#### Is your feature request related to a problem? Please describe.
Right now, in large git repositories where many files are under git, the starship takes a ridiculous amount of time just to allow a user to input something. It is most likely, due to git being slow in big repositories. When developing webkit, it may take up to 5 seconds sometimes, just to let the console become

[2020-08-03 07:46] andytom commented on #1551
I think this is part of #312, which we are hoping to work on as part of the v1.0.0 release so have popped it in that milestone.

[2020-08-03 07:50] andytom commented on #1550
It looks like this was fixed/added to master at some point, maybe as part of the format strings work. I'm currently running a recent build of the master but it seems to work as you would expect
[code]

I'll pop this in the `v0.45.0` release as this should be included as part of that release.

[2020-08-03 13:23] guihkx opened #1554 "username module: Not hiding username on Termux"
#### Current Behavior
I'm using starship + fish shell on [Termux](https://termux.com/), but the `username` module isn't hiding my username.

This happens because the `username` module ensures that both `$LOGNAME` and `$USER` match, otherwise it assumes we're on a remote session. But the problem is that `$LOGNAME` is _not_ set on Termux when I'm on a local session. Here's the offending code:

https

[2020-08-03 13:45] phil-opp commented on #594
Is there any workaround for styling these counts together or does only the default style apply?

[2020-08-03 17:47] #1542 closed

[2020-08-03 21:30] #901 closed

[2020-08-03 23:40] mcallan83 commented on #1550
Any way we could disable these join-words in the actual prompt?

[2020-08-04 21:53] andytom opened #1559 "Git Status `show_sync_count` option no longer works with format strings"
## Feature Request

#### Is your feature request related to a problem? Please describe.

Following the changes to add the format string feature we no longer have a boolean for enabling the git status sync count, `show_sync_count`, and each one needs to be configured individually.

#### Describe the solution you'd like

Since it was common enough to have a single option we should re-add this as a c

[2020-08-05 11:54] andytom commented on #886
Noticed a failure on Windows in #1385 which I've not seen before seems to be the same issue: https://github.com/starship/starship/pull/1385/checks?check_run_id=947336169

[2020-08-05 15:58] neeldug opened #1560 "Starship Uninstall via Cargo leaves strange scripts running in terminal"
## Bug Report

#### Current Behavior

When uninstalling starship using cargo uninstall, some scripts appear to remain. As I type any command after uninstalling, a few error messages come up.

#### Expected Behavior

cargo uninstall should remove these extra scripts from running.

#### Additional context/Screenshots

[code]

#### Possible Solution

#### Environment
- Starship version: [the output o

[2020-08-05 16:25] matchai commented on #1560
These are lingering effects of the initialization script and are only present for this shell instance.
Re-initializing your shell should clear away the errors.

[2020-08-05 16:25] #1560 closed

[2020-08-05 16:26] neeldug commented on #1560
Ah thanks!

[2020-08-05 16:30] #1286 closed

[2020-08-05 17:17] #1480 closed

[2020-08-07 18:25] Ray-Eldath opened #1564 "Starship stuck for a while after every commend"
#### Current Behavior

GIF:
![gif](https://user-images.githubusercontent.com/7938763/89676253-f1122a80-d91d-11ea-845a-29aa5fc840ed.gif)

To me this is really annoying... sigh.

#### Environment
- Starship version: 0.44.0
- powershell version: 5.1.18362.752
- Operating system: Windows Windows 10 10.0.18363
- Terminal emulator: Windows Terminal 1.1.200720001-release1.1

I've enabled Windows Beta sup

[2020-08-07 19:11] matchai commented on #1564
It looks to me like this might be a duplicate of #1381.
Closing this issue for now. If your issue is in fact different, please let me know and I'll reopen this issue.

[2020-08-07 19:13] #941 closed

[2020-08-08 10:51] UsairimIsani opened #1567 "Rust : Crate Directory Type"
## Feature Request

### Rust directory a Workspace, a Library crate or Binary crate.

A string showing if it is a Workspace, Library or Binary. The string can be configured to be emoji.

[2020-08-09 06:42] Ray-Eldath commented on #1564
well, maybe it's not a duplicate. this strange stuck behabior is happened on my Windows Terminal, PowerShell, with `scoop install starship`. I'm not use WSL2 since I'm only at Windows 10 1909. and I tested with Windows PowerShell terminal, it's still stuck after any commend, even nothing is typed.

Just guessing, but the only special thing on my device, I suppose, is I manually enabled the Windows

[2020-08-09 20:07] davidkna commented on #1564
I also have Windows 10 1909 and beta unicode enabled and starship is fast. I think the stucking happens because starship is slow to return the prompt. The shell being stuck until starship is done is likely just how powershell handles prompts.

It looks like you have the memory usage module enabled. I think it's possible that that module is the cause of the slowdown. I'll try to test that theory to

[2020-08-10 11:48] davidkna commented on #1564
Performance of `memory_usage` module is indeed pretty bad on windows:

| Command | Mean [ms] | Min [ms] | Max [ms] | Relative |
|:---|---:|---:|---:|---:|
| `starship module memory_usage` | 419.8 ± 6.2 | 413.2 | 431.4 | 1.00 |

[2020-08-10 14:07] davidkna commented on #886
Interesting failure in #1573 https://github.com/starship/starship/pull/1573/checks?check_run_id=966963954:
[code]

[2020-08-10 16:07] Ray-Eldath commented on #1564
Exactly! After I disabled this module, starship works fine!

memory_usage is a really nice module, hope it could back to Windows soon. 😞

[2020-08-10 17:38] andytom commented on #886
That looks another symptom of the same issue but maybe it gives a little bit more information.

[2020-08-11 08:12] davidkna commented on #886
I think this was a different issue. I made a PR in #1575 to fix it.

[2020-08-11 16:44] #1397 closed

[2020-08-12 23:29] abukharov opened #1579 "Username and Hostname modules don't work in Powershell"
## Bug Report

#### Current Behavior
In Powershell on Windows 10 Username and Hostname modules don't display anything

#### Expected Behavior
Username module shows the username and Hostname module shows the hostname

#### Additional context/Screenshots
![image](https://user-images.githubusercontent.com/21993757/90077840-7fcfde80-dd46-11ea-8198-ff856bb37ecf.png)

#### Possible Solution
* Usename mo

[2020-08-13 04:57] nick5435 opened #1580 "Starship not reading config, Windows 10, MSYS2 bash w/ Hyperterm"
#### Current Behavior
Starship is not reading my config.

#### Expected Behavior
I'd expect starship to read my config file. It's not. I've set $STARSHIP_CONFIG to /c/users/admin/.config/starship.toml via the Windows set env vars tool (after having tried setting it via .bashrc).
When I launch it via powershell, it works, albeit without battery, time, etc., so perhaps on init it's not seeing the pa

[2020-08-13 06:47] Nosterx opened #1582 "pipenv shell command never ends"
#### Current Behavior
invoke "pipenv shell" in starship causes terminal to lock and never ends

#### Expected Behavior
command works

#### Environment
- Starship version: 0.44.0
- GNU bash, version 5.0.16(1)-release (x86_64-pc-linux-gnu)
- Operating system: Ubuntu 20.04 in Windows Subsistem for Linux
- Terminal emulator: Windows Terminal Version: 1.1.2021.0

#### Relevant Shell Configuration

[cod

[2020-08-13 07:59] Prachitbooks opened #1583 "Build for x86_64-msys_nt-6.1-7601"
Hi,

I am using windows machine with cygwin. when I try to install startship I get following error

[code]

[2020-08-13 20:35] nick5435 commented on #1580
I figured out the issue. I had multiple sections for `[[battery]]` and `[[package]]`. Removing the redundant sections fixed the issue.

[2020-08-13 20:35] #1580 closed

[2020-08-14 00:42] chipbuster commented on #1583
I *think* this is the same issue as #1441, which in turn will be fixed by #1341.

I'm going to close as a duplicate for now--feel free to let me know if you think they're unrelated.

As a workaround, should be able to install starship with the following two commands:
[code]

[2020-08-14 00:42] #1583 closed

[2020-08-14 00:51] chipbuster commented on #1528
I'm wondering if the correct action here is to just distribute the MUSL build by default. This is e.g. [what ripgrep does](https://github.com/BurntSushi/ripgrep/releases/tag/12.1.1) (they don't even offer a linux-gnu build on x86).

I've also never heard of anyone downloading the MUSL build and then complaining about breakage (though granted most people probably aren't downloading the MUSL build f

[2020-08-14 16:57] andytom commented on #1528
I think that might be the simplest solution too. All the other solutions that I can think of would be either incredibly fragile or have a really poor UI.

[2020-08-15 16:54] oaksisfolks opened #1587 "cmd_duration prefix not shown if at beginning of prompt order"
## Bug Report

#### Current Behavior

No prefix is displayed for `cmd_duration` if it's placed at the beginning of `prompt_order`.

#### Expected Behavior

A prefix `took ` is displayed for `cmd_duration` even if it's placed at the beginning of `prompt_order`.

#### Additional context/Screenshots

![Screenshot from 2020-08-15 12-14-25](https://user-images.githubusercontent.com/43531770/90316574-10

[2020-08-16 02:25] Dietr1ch opened #1588 "Respecting TERM=dumb"
## Feature Request

#### Is your feature request related to a problem?
Emacs' `tramp-mode` opens remote files nicely through `ssh`, but for that to work properly
you need to have a simple shell prompt that tramp understands, otherwise it ends up hanging
on unexpected input.

To avoid chocking on fancy prompts, tramp uses the `TERM=dumb` environment variable to tell
the shell that it can barely und

[2020-08-16 06:23] SarthakSingh31 opened #1589 "Add a storage module"
## Feature Request

#### Is your feature request related to a problem? Please describe.
I would like to be able to see the free / used space of the current / specified / all directories while using the terminal.
When I am developing with docker over time my system gets clogged with old containers, networks and images. It will really be helpful if I can keep track of the used space from the shell (

[2020-08-16 13:33] jRimbault opened #1591 "Can't open the $EDITOR when there are spaces in the path"
#### Current Behavior
On Windows, does not open the $EDITOR if they are spaces in the $EDITOR path.

#### Expected Behavior
It should open the $EDITOR, regardless of spaces in the path.

#### Additional context/Screenshots

![image](https://user-images.githubusercontent.com/11684337/90335404-1adde800-dfd5-11ea-80f4-7ec58dad7bd0.png)

Transcript:
[code]

#### Environment
- Starship version: 0.44.0

[2020-08-16 13:59] davidkna commented on #1591
I think `code` adds itself to `$PATH`. Would setting `$EDITOR` to `code` work for you? (BTW I think `code --wait` usually works better when programs like git need to wait for input)

As for not handling spaces, it might be possible to take the longest existing path as a heuristic to separate between arguments and paths, but that's still brittle. I think at least not finding the selected `$EDITOR`

[2020-08-16 14:23] jRimbault commented on #1591
It does but I try to always put whole path in my environment variables. Sometimes I have several executable of the same name in my $PATH.

Nope. [to edit, lost the screenshot going there, have to redo]

But I can't think of a reason why starship wouldn't inherit the env from the shell. I often call `code` by hand.

![2020-08-16 (2)](https://user-images.githubusercontent.com/11684337/90336518-aad36

[2020-08-16 15:26] davidkna commented on #1591
Does it work when you add `.exe` to the editor path?

[2020-08-16 15:30] #1091 closed

[2020-08-16 15:30] #1528 closed

[2020-08-16 15:53] chipbuster commented on #1588
Looking around, it appears to me that `TERM=dumb` has specific meanings outside of emacs as well. In particular, `dumb` has an [entry in the terminfo database](https://stackoverflow.com/a/39005551) which specifies a limited set of capabilities. Wikipedia has a [short summmary](https://en.wikipedia.org/wiki/Computer_terminal#Dumb_terminals) as well.

80 cols (no autowrap), and almost no ANSI escape

[2020-08-16 18:49] Dietr1ch commented on #1588
Is that refactor really needed?
I thought we could just modify the initialization scripts. Something around,

  https://github.com/Dietr1ch/starship/compare/master...Dietr1ch:dumb-term

i'm just setting the prompt to `$ ` instead of setting up starship if `TERM=dumb` is detected.
It won't setup each shell to fully respect the `terminfo` setup, but it'll stop from making things
worse by setting up

[2020-08-16 19:19] chipbuster commented on #1588
So I guess the disagreement here is in this statement:

What is "the right thing" when starship sees `TERM=dumb`? Is the correct behaviour just to disable itself, or to display as much information as is practical for those terminal capabilities?

Several search results suggest to me that some people actually interact with terminals in dumb mode (maybe I'm misreading them? see [here](https://github

[2020-08-16 19:23] davidkna commented on #1588
Doesn't `explain` get the (length of) modules without styling with `module.get_segments().join("");` or does that do something else?

[2020-08-16 19:27] chipbuster commented on #1588
@davidkna I think so, but the module output itself still seems to be colored (at least on my copy of master).

[2020-08-16 19:27] Dietr1ch commented on #1588
I see your point, thanks for clarifying things :)

I think that both goals are the right thing to do in different timeframes.
If we only had an hour to "fix" this, we should just make starship disable itself, as the current
state definitely breaks dumb terminals.
However, your goal of making it as useful as possible is the right end-goal.

[2020-08-16 19:28] jRimbault commented on #1591
`code` is compiled without extension (check in `%LocalAppData%\Programs\Microsoft VS Code\bin`).

I also checked by using `code.cmd`. But it doesn't make difference.

[2020-08-16 19:34] chipbuster commented on #1588
@Dietr1ch The current starship implementation likely won't work in dumb terminals, so I can see the need for a hotfix. However, scattering it all over the init scripts seems a little haphazard to me.

What if we throw in a patch into starship itself that just prints a something like `starship disabled due to TERM=dumb >` as the prompt? All ASCII, no escape sequences, and anyone who triggers it by

[2020-08-16 19:38] Dietr1ch commented on #1588
Sounds good!

Yeah, with the long term plan it seems bad to scatter that hack around all the init scripts.

[2020-08-17 03:01] chipbuster commented on #1271
Okay, well according to terminfo/termcap, the clear-to-end-of-* sequences are identical to xterm-kitty and xterm-256, so either my hunch is wrong, or there's a bug somewhere that's causing these to be misemitted. (Or there's a bug in kitty, but I find that highly unlikely).

The hunt continues.

[2020-08-17 03:20] chipbuster commented on #1588
@davidkna Sorry, I just understood what you meant :facepalm: Yes, explain can get the module text without ANSI styling (I had forgotten this was possible after the format strings update). I still don't know if that's enough for dumb terminals, since the prompt will still have emoji and powerline symbols. If we can get by without stripping those out, I think that will be good enough to do the whole

[2020-08-17 03:33] #1549 closed

[2020-08-17 17:19] andytom opened #1597 "Add missing documentation for undistract me feature"
## Feature Request

#### Is your feature request related to a problem? Please describe.

When we merged #1019 it turns out that we forgot to add any documentation for it.

#### Describe the solution you'd like

This feature should be documented to allow the users to configure it, when it has been enabled in the build.

#### Describe alternatives you've considered

[2020-08-18 11:17] xypnox opened #1601 "Newline when the terminal is cleared, prompt comes in second line."
#### Current Behavior
When `add_newline` config is set to `true` the terminal when cleared shows a newline and then the prompt.

#### Expected Behavior
The prompt should be shown on the first line as newline in this case is not helpful.

I know this seems like a nitpick but in [prezto](https://github.com/sorin-ionescu/prezto), the newline is not shown when the terminal is cleared and it should be

[2020-08-18 17:06] andytom commented on #1601
Hi @xypnox, thanks for the report I think this is a duplicate of #560 so I'm going to close this if not please feel free to reopen this.

[2020-08-18 17:06] #1601 closed

[2020-08-18 20:01] #1567 closed

[2020-08-19 04:15] Tarang opened #1602 "Keeps telling me to install java"
## Bug Report

#### Current Behavior
When i use the terminal i get a prompt to install Java

#### Expected Behavior
I dont want java so it would be good not to get the prompt

#### Additional context/Screenshots
<img width="598" alt="Screen Shot 2020-08-19 at 2 10 18 pm" src="https://user-images.githubusercontent.com/1616628/90591439-7b179880-e226-11ea-8b4c-d90612e7c22e.png">

#### Possible Soluti

[2020-08-19 07:25] chipbuster commented on #1602
Interesting. This is almost certainly caused by something attempting to invoke Java when it's not actually installed.

Just to confirm, does this happen in every directory, or does it only happen when you enter a directory where a java "triggering file" exists?

The "triggering files" for Java are:
- pom.xml, build.gradle.kts, build.sbt or .java-version
- Any file with a .java, .class, .gradle or

[2020-08-19 07:30] andytom commented on #1602
Hi Tarang, I think what is happening here is that there is something in that directory that is triggering the Java module, the Java module then execute java to try to get the version, if you don't have java installed macOS will prompt you to install it. A quick fix would be to disable the Java module by running `starship configure java.disabled true` or adding the following to you starship config

[2020-08-19 08:39] Tarang commented on #1602
Thanks that fixes it.

I'm not quite sure actually, it wouldn't actually show up on a specific folder it would if i pressed up for some bash history. I wasn't quite sure what was causing it. My project directory was a rust application with no java files in it. I do have some java applications on my laptop but i was not browsing the directory containing them when this was happening.

I think it mig

[2020-08-19 08:39] #1602 closed

[2020-08-19 09:00] Zegnat commented on #1602
This is a bit of an edge-case that probably only exists on macOS. There is always a `java` binary available on the PATH, because Apple adds a shim that pops up that installation request. So it is not enough for Starship to check if `java` exists and can be run, it needs to check that `java` is actually Java 🤦‍♀️

`/usr/libexec/java_home` is [apparently what you would want to use](https://stackover

[2020-08-19 15:45] AlexCzar opened #1603 "Add ability to customize prompt line prefix"
## Feature Request
![image](https://user-images.githubusercontent.com/1010298/90658216-59cda100-e254-11ea-823a-785d851dfb66.png)

this is how my oh-my-zsh prompt looks like.
if I replace oh-my-zsh prompt theme with starship, I do not have the ability to visually attach first and second line of the prompt together with some nice symbols, like in my oh-my-zsh example, I'd love to be able to do that

[2020-08-19 15:51] chipbuster commented on #1603
I believe this should be possible with the format strings update that's coming out with 0.45.0. It'll be soon™, hang tight!

[2020-08-19 15:51] #1603 closed

[2020-08-20 09:41] jimhigson opened #1605 "Show node version in red when incompatible with the current package"
Starship already shows the node.js version, and the version of the module in the current dir from the package.json. Package.json can contain an [engines](https://docs.npmjs.com/files/package.json#engines) property that defines which versions of node it is compatible with. It'd be handy if the node.js version number were shown in red if it was not capable of running the current package.

[2020-08-20 16:03] abdelrahman-elkady commented on #823
@GoncaloGarcia a bit late, but I guess you meant to disable separating your prompt on two lines (one for directory, and one for the prompt itself), this can be achieved using the `line_break` module, it was a bit confusing to me, so, I guess this could be helpful :sweat_smile:

https://starship.rs/config/#line-break

[2020-08-21 05:26] chipbuster commented on #1587
Hey @oaksisfolks

Once the format strings update is out (in the next release, soon!), you should be able to accomplish this by setting something like this in your starship.toml:

[code]

[2020-08-21 08:44] AnthonyPorthouse commented on #1408
After migrating to a new machine when cloning the repo I found there was a file name collision due to case insensitivity. I.e a file called `Example.txt` colliding with a file called `example.txt`.

Once this was resolved, the deleted file symbol no longer appears.

Perhaps there is a need to introduce an appropriate symbol for this, or perhaps it is a documentation change to explain why you see t

[2020-08-21 17:33] matchai opened #1607 "Module prefixes are shown at the start of the prompt in v0.45.0"
## Bug Report

#### Current Behavior

As discussed in #1116, the new format strings will now show prefixes before every module, including the first module in the prompt. This leads to problems when the user is root, for instance:

![image](https://user-images.githubusercontent.com/4658208/90918414-9dd6b800-e3b2-11ea-90a4-b9aa38bf5bf4.png)

#### Expected Behavior

The first module does not have a p

[2020-08-22 03:25] barischrooneyj opened #1608 "Style prompt in vi normal mode"
## Feature Request
Prompt color change when in vi normal mode. If you run the fish shell without starship and enter vi normal mode the you get a red N, while in insert mode there is a green I. I would love to be able to make my prompt red/green depending on if I am in normal or insert mode.

#### Is your feature request related to a problem? Please describe.
Color can allow me to more rapidly iden

[2020-08-22 11:27] ksawerykarwacki opened #1609 "Powershell - additional new line after every prompt"
#### Current Behavior
On Powershell 7 any prompt is followed by two new lines (one from powershell itself, one from starship)
![image](https://user-images.githubusercontent.com/11694791/90955134-2a4cad80-e47b-11ea-9768-1f6b76a52ee3.png)

#### Expected Behavior
Only add new lines generated by powershell itself or at least option to disable this behaviour
![image](https://user-images.githubuserconte

[2020-08-22 12:42] kawarimidoll opened #1610 "Starship does not start with `setopt ksh_arrays` in zsh"
#### Current Behavior
Starship does not start when there is `setopt ksh_arrays` before starship initialization in `.zshrc`.

#### Expected Behavior
Starship starts and works.

#### Possible Solution
I think this part of `src/init/starship.zsh` need to be fixed. These conditions may work wrong because `setopt ksh_arrays` changes the index of the array.
[code]

#### Environment
- Starship version: 0

[2020-08-24 15:37] jankatins commented on #705
With the new format config, this is possible:

[code]

displays as
[code]

[2020-08-24 17:50] ncautotest opened #1617 "Starship takes over 50 seconds to load with some git repos"
#### Current Behavior

Startup is extremely slow for certain repos, for example https://github.com/google/material-design-icons.git

Starting zsh with `zsh -xv` shows a long delay at line:

[code]

#### Expected Behavior
Acceptable startup times e.g. under 2-3 seconds.

#### Additional context/Screenshots
The issue seems to be specific to certain git repos.

#### Possible Solution
custom flags to

[2020-08-25 07:36] andytom commented on #1617
Hi @ncautotest, unfortunately this is a bit of a know issue at this point, we have some plans to improve this performance in the v1.0.0 (our next + 1 release) so have popped this in that milestone.

[2020-08-25 07:39] ncautotest commented on #1617
@andytom: good to know; at least it is a known issue which is exactly what I was trying to achieve. Thanks!

[2020-08-25 07:48] andytom commented on #1607
Playing Devil's Advocate and linking this to #1587 where a user wants to have the prefix of the cmd_duration module show up when it is at the start of the line. While this might be an edge case it is something that we need to consider.

[2020-08-25 14:56] jankatins commented on #1469
This might help as a shortterm workaround: https://github.com/starship/starship/pull/1615

[2020-08-25 22:17] zzamboni commented on #1115
BTW, https://github.com/elves/elvish/issues/814 has just been closed, so now using Starship with Elvish is as simple as:
[code]

[2020-08-25 23:32] jescalan opened #1619 "Very slow immediately after installation"
#### Current Behavior
The prompt is super slow straight out of the box, without being touched or configured at all. I just installed it fresh

#### Expected Behavior
The prompt should appear within under 100ms ideally, rather than several full seconds

#### Additional context/Screenshots
![Screen Recording 2020-08-25 at 07 29 20 PM](https://user-images.githubusercontent.com/556932/91237718-5a10e50

[2020-08-25 23:37] matchai commented on #1619
Hey @jescalan 👋
This is certainly unusual.
Would you mind editing your issue to contain the contents of your `~/.profile` file so that we can better help you troubleshoot?

[2020-08-25 23:42] jescalan commented on #1619
Updated, though there's not much exciting in there other than git/npm completion and some aliases!

[2020-08-25 23:59] matchai commented on #1619
We've had similar performance reports from users who have other shell prompts running alongside Starship.
I see you've got a line sourcing `~/.git-prompt.sh`, which may be adding to the prompt render time.

Can you try commenting out the contents of your `~/.profile` except for the line initializing Starship to help rule out other startup scripts?

[2020-08-26 00:07] jescalan commented on #1619
Ok, I removed everything other than the starship eval statement, and it still is performing just as slowly, unfortunately

[2020-08-26 00:14] matchai commented on #1619
What installation method did you use?
Just to see the performance of Starship in isolation, can you try running the following:
[code]

[2020-08-26 02:43] jescalan commented on #1619
I installed via homebrew!

![](https://p176.p0.n0.cdn.getcloudapp.com/items/lluYER8b/Screen%20Shot%202020-08-25%20at%2010.41.25%20PM.png?v=be4a0f619d5c45cccc814b819994a466)

1.5s is still way too slow, but I also ran a stopwatch on my phone because that still felt like an underestimate, and got 2.5s for just generating an empty prompt after hitting enter

[2020-08-26 02:50] matchai commented on #1619
Definitely strange...
Is this the case in all directories? Do you have the same slowness in your home directory?

[2020-08-26 04:06] jescalan commented on #1619
Yeah, I tested both a normal folder as well as a git-enabled folder just to see if that was maybe the difference, but got the same speed 😢

[2020-08-26 07:56] yesudeep commented on #828
Are there binaries for amd64-freebsd?

[2020-08-26 16:04] hiteshjoshi opened #1623 "aarch64-unknown-linux-gnu"
is this supported yet?

[2020-08-26 17:34] andytom commented on #1623
Duplicate of #1074

[2020-08-26 17:34] #1623 closed

[2020-08-26 17:34] andytom commented on #1431
Duplicate of #1074

[2020-08-26 17:34] #1431 closed

[2020-08-26 18:25] wulymammoth commented on #1619
@jescalan can you grep your configs for `brew --prefix`? I just came across starship and before I install any software, I try to see what some of the glaring issues are first. There's a version manager called asdf that I use and by process of deduction (removing everything in configs and then adding each thing back), I discovered Homebrew to be the culprit in introducing seconds into my prompt. Yo

[2020-08-28 02:16] cardin commented on #1579
Related to https://github.com/starship/starship/issues/1350

Btw hostname works. You need this in your TOML file:
[code]

[2020-08-28 15:20] segevfiner opened #1626 "Add option similar to SPACESHIP_DIR_TRUNC_PREFIX from spaceship prompt"
## Feature Request

#### Is your feature request related to a problem? Please describe.
I'm a user of spaceship prompt looking at this project since it seems to be getting more attention and maintenance. I'm looking for an option similar to `SPACESHIP_DIR_TRUNC_PREFIX` from spaceship as I like the directory truncation, but like having a prefix when it is used so as to not be confused by it.

####

[2020-08-28 21:54] jeanga commented on #1579
PR #1157 fixes this bug.

[2020-08-29 09:45] davidkna commented on #1626
This looks like a duplicate of #1162.
There is an open PR that implements this in #1563.

[2020-08-29 12:00] segevfiner opened #1628 "Git LFS (clean/smudge filters) confuse the Git status module"
#### Current Behavior
Starship uses libgit2 to get Git status, although it's faster in some cases than parsing Git CLI output, libgit2 has some troubles around features that only exist in non-bare Git repositories. In particular, libgit2 doesn't support smudge/clean filters, meaning that repos that use them often report the wrong status when the index/cache isn't up-to-date. (Other common issues a

[2020-08-29 12:25] davidkna commented on #1628
It's already planned to switch from libgit to git for perfomance reasons (#1446).

[2020-08-29 13:48] andytom commented on #652
I'm going to close this since I don't think we are going to be able to resolve aliases (at least not in the near future) and we have a work around for this.

[2020-08-29 13:48] #652 closed

[2020-08-29 13:50] andytom commented on #632
Similar to #652, I'm going to close this since I don't think we are going to be able to resolve aliases (at least not in the near future) and we have a work around for this, https://github.com/starship/starship/issues/652#issuecomment-667643604.

[2020-08-29 13:50] #632 closed

[2020-08-29 13:52] andytom commented on #456
This is going to be possible as part of the upcoming format strings release.

[2020-08-29 23:09] jescalan commented on #1619
I do not use this in any of my configs - additionally my normal config is instant and I still have homebrew installed. It's just when I use starship that the slowdown happens.

[2020-08-30 17:45] muendelezaji commented on #972
As with @aDotInTheVoid, I got the same issue with `.iterm2_shell_integration.bash`. There are two lines in the file that call `sh -c "exit $s"` which seem to be the cause, though not sure why starship thinks the shells are still running afterwards. I'm not familiar with either the bash integration nor starship internals to debug further, but hope that info helps.

A quick fix is simply to move the

[2020-08-30 22:22] jankatins commented on #1617
Apart from the libgit2 problem: Having a way to disable a prompt in a certain dir (e.g. via a env variable which would be set via an autoenv implementation) would be awesome.

[2020-08-31 03:25] NickHackman opened #1630 "Fish STARSHIP_CONFIG Ignored"
#### Current Behavior
`STARSHIP_CONFIG` is set to `/etc/nixos/configs/starship.toml`, but is ignored in Fish.

#### Expected Behavior
starship recognizes `$STARSHIP_CONFIG` when set.

#### Additional context/Screenshots
output from `$ env RUST_LOG=starship starship prompt`

[code]

It's a little confusing - it appears that the issue is with Rust's `std::env` itself?

[code]
Errors out with `NotPre

[2020-08-31 09:15] micc83 opened #1631 "Switch the package version loading order of package.json/composer.json"
Hi, first of all thank you!

Starship is both useful and nice on the eyes so it became my go-to prompt on both my macOs and WSL2 shells.

Here I'm opening the case to switch the loading order of `package.json`/`composer.json` as:

1. **JS Projects**: Never seen a JS project with a `composer.json` file in the root (There might be some edge cases I might not be aware of);
2. **PHP Projects**: Many o

[2020-08-31 12:17] Zegnat commented on #1630
If you use bare `set` like that, is the variable not by default as only available within the current fish context? Does it work if you tell fish to export the variable?

[code]

[2020-08-31 12:37] NickHackman commented on #1630
You're completely right, thanks!

Sorry, I'm still pretty new to Fish and just assumed that it exported to child processes by default.

[2020-08-31 12:37] #1630 closed

[2020-08-31 12:41] rsteube commented on #1115
@zzamboni colors work, but i'm getting a lot of `%{%}` characters (some unicode problem?).
I assume this just needs some starship config, but i can't figure it out at the moment.
[code]

[2020-08-31 12:46] davidkna commented on #1115
Try unsetting the `STARSHIP_SHELL` environment variable. These extra characters are added to keep the shell from interpreting them on bash and zsh.

[2020-08-31 12:49] rsteube commented on #1115
duh! thanks, that was it

[2020-08-31 19:24] tonydero commented on #1608
Not sure if this would be more appropriate as a separate issue, but it's in the same "wheelhouse" so I'll just add it here for the moment.

I'd love to see another option for visual mode as well. So something like a "vivis_symbol" and, as in the style of the original issue, a "style_vivis" option too.

[2020-09-01 05:59] alephalpha0 opened #1635 "starship precmd spitting out weird errors."
#### Current Behavior

Everytime the prompt is displayed, `starship_precmd:8: number truncated after 11 digits: 1598939563237` is displayed twice prior to the prompt.

#### Expected Behavior

Just the prompt displaying, nothing else.

#### Additional context/Screenshots

#### Possible Solution

#### Environment
- Starship version: 0.44.0
- zsh version: zsh 5.8 (arm-unknown-linux-androideabi)
- Ope

[2020-09-01 15:50] matchai commented on #972
To provide some context as to how the `jobs` module works, it simply prints what is passed in as the `--jobs` flag.
The init script passes in the output of `jobs -p | wc -l`, as can be seen here: https://github.com/starship/starship/blob/master/src/init/starship.bash#L43

It would seem that if there are lingering effects to running `.iterm2_shell_integration.bash`, they would be seen outside of st

[2020-09-01 17:50] andytom commented on #1408
I believe this is going to be caused by differences from what `libgit2` and `git` consider as changes, I'm going to pop this in the `v1.0.0` release since we are going to be replacing the `libgit2` for performance reasons and that should resolve this.

[2020-09-01 17:52] andytom commented on #1453
@ianfabs, I'm going to close this since I don't think this is actually a bug. If my previous comment doesn't resolve this issue please feel free to reopen this issue.

[2020-09-01 17:52] #1453 closed

[2020-09-01 21:50] santagada opened #1636 "Broken PSReadLine behaviour on powershell"
#### Current Behavior
Only on starship I get the behaviour that if I execute this particular commmand and then press the home key it moves to an offset into my command thinking it is in the beginning making movements and edits in the line not work. The command is

`Start-Process echo "hello `"`"`"world`"" -NoNewWindow -Wait`

If you type it, press enter, then arrow key up and then home key the cur

[2020-09-02 01:57] anguspiv commented on #1630
I am having this exact same issue that the config is not being read or used it seems:

[code]

[code]
has empty output:

~/.config/fish/config.fish:
[code]

~/.config/starship.toml:
[code]

[2020-09-02 02:10] matchai commented on #1630
@anguspiv
We have changed the logging variable from `RUST_LOG` to `STARSHIP_LOG`.
Try running the following:
[code]

[2020-09-02 02:12] anguspiv opened #1637 "Fish shell - ignores configuration file"
#### Current Behavior
Battery module is not displaying in prompt

#### Expected Behavior
Should display the battery module, as set in the configuration file

#### Additional context/Screenshots

<img width="810" alt="Screen Shot 2020-09-01 at 7 09 16 PM" src="https://user-images.githubusercontent.com/1724500/91924116-c4d09c00-ec86-11ea-9916-fa7b5289add2.png">

#### Environment
- Starship version:

[2020-09-02 02:15] anguspiv commented on #1630
@matchai So I created #1637, since I just saw this was closed. My bad, but I reran the command with the updated output there.

[2020-09-02 02:18] anguspiv commented on #1637
Hmmm, I just noticed that the config file is changing my prompt, but I cannot figure out why the other modules are not displaying

[2020-09-02 02:20] anguspiv commented on #1637
....Okay so all the other modules work except battery...

[2020-09-02 02:24] matchai commented on #1637
The battery module, by default, will only be shown when your battery is <10%.
It can be customized by setting `battery.display`, as detailed here: https://starship.rs/config/#battery-display

[2020-09-02 02:28] anguspiv commented on #1637
....I feel bad, for not reading the documents more carefully. Things honestly started working while I was reporting this bug. But thank you so much for your help and responsiveness. You guys are awesome, and the tool!

[2020-09-02 02:28] #1637 closed

[2020-09-02 04:12] matchai commented on #1637
No problem. It happens! 😄
Anytime!

[2020-09-03 17:03] muendelezaji commented on #972
In my case the output of `jobs` was not showing anything, and `fg` also returns `fg: no current job`. Perhaps it is checked at some point during the startup (when there might be a background job) but then the status is somehow not refreshed?

[2020-09-03 23:15] yunielrc opened #1641 "show the exit code of the last command executed if it failed"
## Feature Request

![Screenshot from 2020-09-03 19-13-35](https://user-images.githubusercontent.com/28462092/92182408-a64eda00-ee19-11ea-83f2-857be616bb7e.png)

I do this with a custom module #1639

[2020-09-04 06:54] andytom commented on #1641
Hi @yunielrc would #1165 solve this?

[2020-09-06 20:32] matchai commented on #1607
This issue is unfortunately looking like the biggest blocker for getting v0.45.0 out.
I'm leaning toward `prefix` being the best solution for this sort of thing, but that will end up increasing the complexity of the prompt yet again, and will need some logic to be re-added to the prompt.

Paging @heyrict in case they have thoughts on the matter.

[2020-09-06 22:10] heyrict commented on #1607
What about adding a post-processing function that strips the prefixes after the whole format string is generated?

The easiest one is using a regex e.g. `s/^(in|at|on|with) *//`.

[2020-09-07 09:25] weidenka opened #1644 "Ignored prefix option for conda and git_branch"
#### Current Behavior
I want to remove the prefix for the conda and git_branch module. E.g.
[code]
Unfortunately, I still see the prefixes ("via" for conda and "on" for git_branch)

#### Expected Behavior
empty prefix

#### Environment
- Starship version: 0.44.0
- zsh version: zsh 5.7.1 (x86_64-apple-darwin19.0)
- Operating system: Mac OS 10.15.5
- Terminal emulator: iTerm.app 3.3.12

#### Relevan

[2020-09-07 10:52] heyrict commented on #1607
Also note that, this issue has been raised by matchai in https://github.com/starship/starship/discussions/1116 . [The landed solution](https://github.com/starship/starship/discussions/1116#discussioncomment-7792) is to give a suffix to *the default format string of the first module* (e.g. `root in`)

[2020-09-07 17:10] andytom commented on #1644
Hi @weidenka, we are working on fixing this as part of the format string feature which should be included as part of the next release, v0.45.0, I've popped this issue in the milestone for that release.

[2020-09-07 21:45] matchai commented on #1607
Ah right! That's a good point!
I'll make a PR to use suffixes for modules before `directory`, and prefixes for all modules after.

[2020-09-08 00:05] chipbuster commented on #1533
This looks like whatever mode the terminal is in does not support ANSI escape sequences.

When I try this, just smacking 'ENTER' once seems to reset the terminal. Is that the case for you as well or does it persist? This also can't be solved purely from within starship, since we don't implement ANSI escape interpretation (that's the responsibility of the layers above starship).

[2020-09-08 16:09] #1607 closed

[2020-09-09 14:48] jpoehls commented on #1051
I opened a pull request with a fix for this issue. #1648

If you are interested in a workaround, you can replace the call to `starship init` in your PowerShell profile with the patched `prompt()` function in the PR.

[2020-09-09 16:19] matchai commented on #1051
Closed as fixed by #1648. The fix will be available in the next release.

[2020-09-09 16:19] #1051 closed

[2020-09-10 16:29] xa888s opened #1650 "SIGSEGV on Void Linux"
#### Current Behavior
I couldn't compile it so I disabled default features. Whenever I enter a directory with a rust project directory (created with cargo new) I get this message:
[code]

#### Expected Behavior
It should show the prompt with git branch, rust version, etc.

#### Environment
- Starship version: 0.44.0
- fish version: fish, version 3.1.2
- Operating system: Void Linux (Linux rolling)

[2020-09-12 10:41] ev-agelos commented on #972
Same problem using [fasd](https://github.com/clvv/fasd) (alternative to z) too

[2020-09-13 17:46] Blake-LeBlanc opened #1653 "After uninstall, now receive `Command 'starship' not found` message"
#### Current Behavior
Uninstalled starship with the following:

`$ cargo uninstall starship`

`$ sudo rm "$(which starship)"`

Commented out the eval statement from `.bashrc`:

`# eval "$(starship init bash)"`

Now, whenever I start a terminal instance, I receive the following message:

[code]

#### Expected Behavior
How can I stop this message from appearing? Are there other related files I need

[2020-09-14 06:30] #1610 closed

[2020-09-14 06:40] #1653 closed

[2020-09-14 07:57] kawarimidoll commented on #1610
Thank you for the fix!

[2020-09-14 19:32] michel-slm opened #1654 "Requesting a build for aarch64-unknown-linux-gnu"
## Feature Request
Please distribute a pre-built version for `aarch64-unknown-linux-gnu`

#### Is your feature request related to a problem? Please describe.
Starship is not available pre-built on 64-bit ARM Linux distributions -- e.g. on the Pinebook Pro running Manjaro ARM (Arch Linux), and likely also on the Raspberry Pi 4.

#### Describe the solution you'd like
Provide a pre-built version simi

[2020-09-14 19:53] nhedger opened #1655 "Option not to add newline on the first prompt"
## Feature Request

#### Is your feature request related to a problem? Please describe.
This is rather a little annoyance than a problem. When I open my terminal, I'd like starship not to insert a newline on the first prompt but still add it for subsequent prompts to visually separate them.

#### Describe the solution you'd like
Currently, if you set the `add_newline` to `true`, when opening a new

[2020-09-14 20:28] matchai commented on #1654
Closing this as a duplicate of #1074.

[2020-09-14 20:28] #1654 closed

[2020-09-15 05:38] andytom commented on #1655
Hi @nhedger, I think this is the same issue as #560?

[2020-09-15 09:07] nhedger commented on #1655
Hi @andytom , indeed it is. I must have missed it when searching. No point in keeping this issue opened then. Have a nice day.

[2020-09-15 09:07] #1655 closed

[2020-09-15 17:22] Spaceface16518 opened #1656 "Starship ignores add_newline configuration"
#### Current Behavior
Despite the configuration file specifying `add_newline = false`, starship adds a newline before the prompt.

#### Expected Behavior
I want all the info to be on the same line as the prompt.

#### Additional context/Screenshots
![2020-09-15-122104_949x1013_scrot](https://user-images.githubusercontent.com/33424649/93243562-ff8a0800-f74d-11ea-9e8e-0d92df0d4306.png)

#### Possibl

[2020-09-15 19:23] matchai commented on #1656
It looks like in the screenshot, the functionality of `add_newline` is working as intended. There is no empty newline between prompt instances.

What you may be looking for is this:
[code]

![image](https://user-images.githubusercontent.com/4658208/93255050-50f2c100-f767-11ea-98c3-7467441092f6.png)

[2020-09-15 20:53] tapeinosyne commented on #1589
I'd be happy to submit a PR for this once GuillaumeGomez/sysinfo#363 is fixed.

This use case would be best served by only showing the module below a certain free space threshold, I expect. What values should we consider? A percentage around 10%?

[2020-09-15 21:48] chilledfrogs opened #1657 "One-line prompt"
## Feature Request

#### Is your feature request related to a problem? Please describe.

Potential problem: genuine blindness on my part if this is already an open issue or even documented feature, in which case I apologize

#### Describe the solution you'd like

While I really like this prompt, I am still kinda a sucker for 1-line prompts, and coming from `spacefish`, I was a bit taken aback by t

[2020-09-15 21:49] davidkna commented on #1589
When implementing that please check if it performs well on windows.
Sysinfo has been very slow in the `memory_usage` module on windows (#1564).

[2020-09-15 21:58] tapeinosyne commented on #1657
I reckon you are looking for the [`line_break`](https://starship.rs/config/#line-break) option.

[2020-09-15 23:07] Spaceface16518 commented on #1656
Oh, I'm dumb. Thank you for the timely response. I'm not sure why I got that from the docs.

[2020-09-15 23:09] #1656 closed

[2020-09-16 07:06] craph commented on #1276
I was looking for this too. I'm using `ksh` on all my machine and it would be very nice if you can add the support of `ksh`

Is it possible ?

Thank you very much.

[2020-09-16 09:51] lidin opened #1658 "starship takes a long time to execute when located in a git repository with an untracked large file and unstaged modification"
#### Current Behavior

When located in a local git repository directory, that has one staged file, one unstaged modification on that file, and one large, untracked file in the same directory, all commands in that directory are taking a long time.

#### Expected Behavior

It shouldn't take longer than what it takes for `git status` to complete.

#### Additional context/Screenshots

Copy-pasting the

[2020-09-16 10:11] thedrow commented on #910
This is a good workaround but I don't think we should have a special configuration just for Homebrew users.

[2020-09-16 10:47] lidin opened #1659 "`style_success` and `style_error` not changing color"
#### Current Behavior

Prompt symbol is shown with green color.

#### Expected Behavior

It should be shown with magenta color, as per config.

#### Additional context/Screenshots

I've looked in the documentation and it says that `character.style_success` and `character.style_error` should determine what the format of the prompt should be, but I can't seem to get it to work. Is this a problem for

[2020-09-16 11:26] vladimyr commented on #910
Fully agree 👍

[2020-09-16 13:40] chilledfrogs commented on #1657
Ok, so I am indeed very, very blind, since I poured over the documentation like 17 times already 😅😅 sorry about that and thanks a lot for your patience.

Now this comes to the other part of the question/feature request: can this be changed conditionally somehow like an environment variable can be?

[2020-09-16 15:20] badnetmask opened #1660 "Change position of the Time module"
## Feature Request

#### Is your feature request related to a problem? Please describe.
The Time module is very handy, but I would like to be able to change the position where it's shown.
This is very useful in two situations:
a) copy/paste the sequence of commands, so you can know when each thing happened.
b) when you run a command that takes a long time, step away, then you want to know when it

[2020-09-16 15:32] matchai commented on #1657
Unfortunately not for the time being.
You can achieve something of the sort using [direnv](https://direnv.net/), and `starship config` commands, but nothing currently for using environment variables.

[2020-09-16 15:32] #1657 closed

[2020-09-16 15:34] matchai commented on #1660
The time module can be repositioned in the prompt using `prompt.prompt_order`, documented here: https://starship.rs/config/#prompt

[2020-09-16 16:02] chilledfrogs commented on #1657
I see, I'll have to look into that, seems less jerry-riggy than editing `starship.toml` directly :sweat_smile: thanks guys

When I finally learn Rust I might attempt to implement a method of doing that...

[2020-09-16 16:05] matchai commented on #1658
Thank you for opening an issue, Hampus. 👋
It looks like this is a duplicate of #891, so I'll go ahead and close it. If you think otherwise, please drop a comment sharing why and we'll go ahead and reopen it. 😊

[2020-09-16 16:05] #1658 closed

[2020-09-16 16:07] badnetmask commented on #1660
The problem with this approach is that I basically need to copy the entire default value into my config, and make the one single change that I care about, in order to remove the "line_break" before "jobs", or move "time" module to before that. That doesn't sound very "optimal", as then my local config will be fixed in time, and will never take into consideration additions/removals of modules, or c

[2020-09-16 16:07] lidin commented on #1658
Yeah, I saw a lot of other issues related to this, but couldn't find anyone that had this particular reproducible case.

[2020-09-16 16:11] matchai commented on #1658
It looks like this issue, similarly, will be solved by the solution proposed in #1446. I'll be keeping this issue closed for the time being, but keep an eye on that issue for updates!

[2020-09-16 16:14] lidin commented on #1658
Ah, I see, its the git2 dependency causing the lag while the native git command is performing better. Makes sense and sounds good! :)

[2020-09-16 17:08] andytom commented on #1659
Hi @lidin, I think the problem is that starship doesn't recognise `magenta`, you should be able to confirm this by running `STARSHIP_LOG=trace starship module character`. You can take a look at https://starship.rs/advanced-config/#style-strings for some information about what starship supports as a style string.

[2020-09-16 17:12] lidin commented on #1659
Ah, I missed that piece of the documentation. Sorry about that! It works now!

[2020-09-16 17:12] #1659 closed

[2020-09-16 18:21] matchai commented on #1660
The suggested way to disable `line_break` or any individual modules is to use the `disabled` property for the reasons you described:
[code]

As for the positioning of the `time` module in the prompt, I'd rather we find a solution that better facilitates reordering the prompt instead of making a breaking change to the prompt order. I agree that `prompt_order`, as it works today, isn't perfect, so I

[2020-09-16 19:12] badnetmask commented on #1660
Disabling the line_break module makes it even worse, because then everything is on one single line.
`~ took 2s XX:XX:XX $`
I appreciate your time looking at this, but I don't have solution to propose to reorder the prompt.

[2020-09-17 15:40] matchai commented on #1133
@djc Could you please try running `starship prompt` using another shell altogether? Though it may not be nushell's embedding of Starship, it may be their handling of double-width characters.
Similarly, have you been able to reproduce this using another terminal emulator?

[2020-09-17 16:01] djc commented on #1133
Yes, I have seen similar results in iTerm2 and the VS Code.

[2020-09-18 06:40] lexpierce opened #1663 "symbol setting in [character] config section is being ignored."
#### Current Behavior
Starship is ignoring the `symbol = "⮞"` setting in my `[character]` section.

#### Expected Behavior
My prompt to begin with ⮞

#### Additional context/Screenshots
[code]

#### Environment
- Starship version: 0.44.0
- zsh version: zsh 5.8 (x86_64-redhat-linux-gnu)
- Operating system: Fedora 32 (Workstation Edition)
- Terminal emulator: alacritty 0.6.0-dev (56cff18)

#### Rele

[2020-09-18 20:39] jankatins commented on #652
I think all linux distros standardized on `python3`(so `python` is not anymore in path), so I think at least on linux, the default should be changed to `python3`

[2020-09-19 06:55] andytom commented on #652
Hi @jankatins, can you open a new issue for this so it doesn't get lost on this closed issue.

[2020-09-19 08:57] andytom commented on #1631
I think your suggestion makes sense to me but I'm neither a PHP or JS developer so maybe there are contradicting arguments that I'm not aware of.

[2020-09-19 09:07] ev-dev commented on #346
Hey y'all any thoughts on potentially limiting the scope of the 0.45 release? Or possibly working to roll out some incremental 0.44.x releases to stomp out this feature & related issues?

I recently converted to Starship from [Spacefish](https://github.com/matchai/spacefish) and so I definitely missed these base-level config options when I tried to mimic my fairly minimal prompt style from Spacefi

[2020-09-19 09:16] andytom opened #1666 "Allow customising the priority in the package module"
## Feature Request

#### Is your feature request related to a problem? Please describe.

The way the package module works at the moment is that it can only display one package type at a time and the priority of packages is hard coded in the starship binary. We are going to start getting issues where a user will want to display one package type but starship displays another type. This is only going

[2020-09-19 09:18] ev-dev commented on #346
☝ P.S. To be clear, all respect to the contributors here I'm not looking to step on any toes or seem ungrateful I know there are already too many complainers in the world and not enough doers out there so shout out to any & all thankless maintainers for real 🦸‍♀️🦸‍♂️

[2020-09-19 09:20] andytom commented on #1608
I think this should be fixed as part of the format strings release so have popped this in it's milestone.

[2020-09-19 09:38] andytom commented on #615
I think this is now possible or at least partially possible with the format strings so I'm going to pop this into the milestone for that release.

[2020-09-19 09:39] andytom commented on #760
I'm going to close this as I think this will be fixed by #1194.

[2020-09-19 09:39] #760 closed

[2020-09-19 09:46] andytom commented on #1550
Since we are getting close to the [v0.45.0 release](https://github.com/starship/starship/milestone/3), I'm going to close this issue so we can see what is actually left to do in the milestone and what still needs a little bit of work.

[2020-09-19 09:46] #1550 closed

[2020-09-19 09:46] andytom commented on #1102
Since we are getting close to the [v0.45.0 release](https://github.com/starship/starship/milestone/3), I'm going to close this issue so we can see what is actually left to do in the milestone and what still needs a little bit of work.

[2020-09-19 09:46] #1102 closed

[2020-09-19 09:47] andytom commented on #705
Since we are getting close to the [v0.45.0 release](https://github.com/starship/starship/milestone/3), I'm going to close this issue so we can see what is actually left to do in the milestone and what still needs a little bit of work.

[2020-09-19 09:47] #705 closed

[2020-09-19 09:48] andytom commented on #830
Since we are getting close to the [v0.45.0 release](https://github.com/starship/starship/milestone/3), I'm going to move this out of the milestone this will be possible once it has been released but maybe it would be nice to have a [preset](https://starship.rs/presets/) for this.

[2020-09-19 09:49] andytom commented on #456
Since we are getting close to the [v0.45.0 release](https://github.com/starship/starship/milestone/3), I'm going to close this issue so we can see what is actually left to do in the milestone and what still needs a little bit of work.

[2020-09-19 09:49] #456 closed

[2020-09-19 09:50] andytom commented on #418
Since we are getting close to the [v0.45.0 release](https://github.com/starship/starship/milestone/3), I'm going to close this issue so we can see what is actually left to do in the milestone and what still needs a little bit of work.

[2020-09-19 09:50] #418 closed

[2020-09-19 09:50] andytom commented on #1587
Since we are getting close to the [v0.45.0 release](https://github.com/starship/starship/milestone/3), I'm going to close this issue so we can see what is actually left to do in the milestone and what still needs a little bit of work.

[2020-09-19 09:50] #1587 closed

[2020-09-19 09:51] andytom commented on #615
Since we are getting close to the [v0.45.0 release](https://github.com/starship/starship/milestone/3), I'm going to close this issue so we can see what is actually left to do in the milestone and what still needs a little bit of work.

[2020-09-19 09:51] #615 closed

[2020-09-19 09:52] andytom commented on #1644
Since we are getting close to the [v0.45.0 release](https://github.com/starship/starship/milestone/3), I'm going to close this issue so we can see what is actually left to do in the milestone and what still needs a little bit of work.

[2020-09-19 09:52] #1644 closed

[2020-09-19 09:54] andytom commented on #624
Since we are getting close to the [v0.45.0 release](https://github.com/starship/starship/milestone/3), I'm going to close this issue so we can see what is actually left to do in the milestone and what still needs a little bit of work.

[2020-09-19 09:54] #624 closed

[2020-09-19 09:55] andytom commented on #1608
Since we are getting close to the [v0.45.0 release](https://github.com/starship/starship/milestone/3), I'm going to close this issue so we can see what is actually left to do in the milestone and what still needs a little bit of work.

[2020-09-19 09:55] #1608 closed

[2020-09-19 10:01] weidenka commented on #1644
Thanks for fixing that!

[2020-09-19 10:18] andytom commented on #346
Hi @ev-dev, I've actually just been cleaning up the issues to try to get a clear picture of what is left for the [v0.45.0 release](https://github.com/starship/starship/milestone/3) and I think at this point it looks like the only things left are a slight regression in one of the modules and a migration guide. Unfortunately this release has taken a lot longer than I think any of us had hoped but I

[2020-09-19 10:18] #346 closed

[2020-09-19 11:00] andytom commented on #1559
To avoid overly complicating the git_status module have gone with the second option of making this a breaking change.

[2020-09-19 13:25] anki-code commented on #272
Around a month ago [xonsh become 0.9.20](https://github.com/xonsh/xonsh/releases/tag/0.9.20) with this:

For example:

I've tested on Linux and it works.

@vladimyr Is it resolved the issue? If yes could you please continue working on #1265?

[2020-09-20 03:19] vladimyr commented on #272
Hi @anki-code, great news! Sure I'll gladly revisit my PR and bring it up to life so we can test the latest xonsh release.

[2020-09-20 16:00] #1609 closed

[2020-09-20 20:34] jankatins opened #1669 "Integrate pipe status"
## Feature Request

#### Is your feature request related to a problem? Please describe.

#1651 implments a exit status module which shows the exit status of the last command. This currently overlooks problems in a pipeline, e.g. if you run `false | true`, the status should show `1|0` instead of only `0` (which would not show up the proposed status module). This was already implemented in an old PR

[2020-09-20 20:37] jankatins commented on #193
The pipeline status part is now in https://github.com/starship/starship/issues/1669, the pure "last exit code" is in PR #1651

[2020-09-20 21:33] jankatins opened #1670 "Switch default python python_binary to python3"
## Feature Request

#### Is your feature request related to a problem? Please describe.

[Python2 is EOL](https://www.python.org/doc/sunset-python-2/) and most linux distros have decided to not switch /usr/bin/python to a python3 version. That means, at least on some newer linux systems, `python` is gone and you only have `python3`.

See e.g
* debian: https://www.debian.org/doc/packaging-manuals/p

[2020-09-20 21:34] jankatins commented on #1663
This is fixed in the latest version on master (which includes the format changes to the prompt)

[2020-09-20 21:36] jankatins commented on #652
I opened https://github.com/starship/starship/issues/1670

[2020-09-20 21:43] jankatins commented on #1670
One bad thin in this mess is that if I explicitly enable a py2 virtualenv/conda env, then this won't show up anymore, but still the system py3 one. At least all my virtualenvs (currently py3 ones) have a `bin/python` which links to a py3 binary.

Maybe this is an argument to first check for `python` and only if that does't exist, for `python3`?

[2020-09-21 06:49] numToStr commented on #1660
I second this proposal. It doesn't look good if you have any custom module. As you can see that I have a custom docker icon module.

![image](https://user-images.githubusercontent.com/24727447/93738374-3efb9d00-fc03-11ea-9d6a-f0b7a81e67c0.png)

One way to fix this using `prompt_order` but as @badnetmask @matchai said It is not perfect. And the other is disable `cmd_duration` which is I am doing cu

[2020-09-21 10:02] xeho91 commented on #1635
I have the same problem with using the same environments (**termux** and **zsh**).

I found out that this problem doesn't happen when I use **bash** instead.

The problem must lie somewhere in this code with the format of the numbers which are printed:
https://github.com/starship/starship/blob/ecd3d6e9f0d64f6d0a53a97796fb769de6976457/src/init/starship.zsh#L20

I am not expert of this; I tried to f

[2020-09-21 14:25] matchai commented on #1660
@numToStr To keep things clear, I believe you are advocating for moving the `cmd_duration` module, rather than the `time` module. Please open a separate issue if you would like to see `cmd_duration` moved.

[2020-09-21 17:29] numToStr commented on #1660
Sorry, I thought it was same thing. I'll open an issue a new issue.

[2020-09-21 17:41] numToStr opened #1671 "[Request] Move cmd_duration after custom module"
## Feature Request
I would like to see `cmd_duration` moved after `custom` by default.

#### Is your feature request related to a problem?
Problem is stated here.  https://github.com/starship/starship/issues/1660#issuecomment-695934379

#### Describe the solution you'd like
Move `cmd_duration` after `custom` module

#### Describe alternatives you've considered
- disabling the `cmd_duration`, but i

[2020-09-22 08:54] Minkiu opened #1673 "Allow to disable module's prepositions"
## Feature Request

#### Is your feature request related to a problem? Please describe.
It's not really a problem, but a nuisance (for me) my current shell looks like this:
[code]
And when replicating with Starship, ends up looking like so:
[code]
The `hostname` and other modules (`username` has `via` to give another example) have a preposition within them, which I would like to be able to disable

[2020-09-22 19:48] #1404 closed

[2020-09-22 23:04] tapeinosyne commented on #1589
Thank you for the heads up; I will keep it in mind. Hopefully the issue is restricted to memory measurements.

Now that the `sysinfo` issue has been fixed and a new version released, it would be a good time to discuss the design of a possible storage module.

Firstly: is it a storage module, or strictly a disk usage module? Sysinfo doesn't e.g. provide information on USB-attached storage, and it w

[2020-09-24 05:52] vv9k opened #1674 "Lightdm session won't start because of failed eval of starship"
#### Current Behavior
Lightdm greeter goes through authentication and goes back to login screen as soon as it evaluates starships line in `.bashrc` making it impossible to login. Manually sourcing `.bashrc` from terminal with starship works correctly.

#### Expected Behavior
Starship correctly evaluating and lightdm session starting.

#### Additional context/Screenshots
Content of `~/.xsession-err

[2020-09-24 07:29] muuvmuuv opened #1675 "[directory] highlight git root bold"
## Feature Request

Having the below config, I would love to see which folder is the project root. I have used prezto before and they rendered it bold. It makes it more readable.

[code]

[code]

#### Is your feature request related to a problem? Please describe.

#### Describe the solution you'd like

#### Describe alternatives you've considered

[2020-09-24 14:40] 3kyro commented on #1458
I'm testing an implementation using `stack query`. In my dev PC i get a 152ms delay, which for me is acceptable for getting ghc version on my prompt. However speed is relative and I would like to know if this kind of delay would be acceptable for `starship`.

![image](https://user-images.githubusercontent.com/25639967/94159824-4d0c2080-fe84-11ea-8eac-e7a9867512cf.png)

[2020-09-24 21:05] hacklash opened #1676 "Support Change Window Title for Powershell"
## Feature Request

#### The Problem
I want to have starship set my window title to current directory with Powershell

#### Solution I'd Like

Add to the documentation "Advanced Configuration" > "Change Window Title" that for Powershell it can be accomplished by adding a custom command to your starship.toml file:
`
[custom.title]
when = "0"
shell = ["pwsh.exe", "-NoProfile", "-Command", "$host.UI.

[2020-09-25 07:12] andytom commented on #1673
Hi @Minkiu, This will be possible in the upcoming release (v.0.45.0) with the new format-string feature. I've popped this issue in the milestone for that release but I'm going to close it so that we don't get confused with what has been done and with what still needs to be done.

[2020-09-25 07:12] #1673 closed

[2020-09-25 09:06] micc83 commented on #1631
Moreover, when `package.json` is used (in a mixed language project) by the bundler the package is usually marked as private (I see that at the moment Starship doesn't show the version for a private `package.json` file). My first idea was indeed to simply skip it when marked as private but  I guess adding the check only for  `package.json`  would probably lead to some inconsistencies.

[2020-09-25 09:14] micc83 commented on #1666
IMHO adding weights would be over engineered. Using a simple list as done with the `prompt_order` would be enough. If you're worried about future implementations you could add a wildcard (`*`) at the end of the list that matches all the remaining package files in the default order except those already set. Something like:
[code]

[2020-09-25 22:04] #193 closed

[2020-09-25 22:04] #882 closed

[2020-09-25 22:04] #1641 closed

[2020-09-26 13:40] cogumbreiro opened #1680 "Add support for git_status timeout"
## Feature Request

Add support for git_status timeout.

#### Is your feature request related to a problem? Please describe.

In some repositories starship is quite slow because of the git_status module. It would be great if

#### Describe the solution you'd like

Add an option to add a timeout for the git_status module.

#### Describe alternatives you've considered

I currently just disable git_s

[2020-09-26 17:15] #1559 closed

[2020-09-26 17:23] andytom commented on #1680
Hi @cogumbreiro, thanks for the suggestion. This is something we are going to work on as part of the v1.0.0 release (or n+1) release so have popped this in the milestone for that release. Since we also have #1551 I'm going to close this as a duplicate.

[2020-09-26 17:23] #1680 closed

[2020-09-26 19:43] cogumbreiro commented on #1680
Thank you @andytom for the prompt and helpful response. Looking forward for the next release.

Have a nice day and thank you for this great piece of software.

[2020-09-28 20:38] #1075 closed

[2020-09-28 20:40] dougmaitelli commented on #1619
I am experience the exact same thing. Every time I open a new terminal it takes 3-5 seconds for the shell to show up after switching to starship.

[2020-09-28 23:47] lilyball commented on #1617
Wow that repo is pathological. On a fresh clone, `git status` took 30 seconds, and printed a warning saying it took 20 seconds just to enumerate untracked files (and offered flags that disables the untracked files tests).

This definitely seems like an issue with the `git_status` module. Keeping the other git modules at their default is fine, and simply disabling `git_status` makes starship nice a

[2020-09-29 19:31] SavageMessiah commented on #1271
I'm having this same issue with the same combination of software - starship, fish, and kitty. Starship+fish+iterm2 works and Starship+zsh+kitty also works. I thought I'd rule out the prompt character flipping as the issue, so I removed the character module. That didn't help unfortunately.

[2020-09-30 02:59] ericonr commented on #1617
Hi! I believe the latest release has made this even worse. On https://github.com/void-linux/void-packages , `time starship prompt` manages to take around 2 seconds, even on a system with ZFS on an SSD, which I'd hoped would make it more cache friendly.

Just running `time git status` takes 130ms on the same repository, so using a [custom command](https://starship.rs/config/#custom-commands) might

[2020-09-30 06:11] basbossink opened #1696 "Default initialisation for powershell fails on windows"
#### Current Behavior

Powershell startup fails using the suggested initialisation: `Invoke-Expression (&starship init powershell)`
with:
[code]

#### Expected Behavior

An initialisation without errors.

#### Possible Solution

Examining the output of `starship.exe init powershell --print-full-init` shows the following last line:
[code]

This is causing the above syntax error the last line should

[2020-09-30 06:16] aureooms commented on #816
With `v0.45.0`

[code]

[2020-09-30 09:10] arzg commented on #896
Sorry to comment on such an old issue, but I created [a crate called Etcetera](https://docs.rs/etcetera) that, in my opinion, addresses `directories`’s problem of using _too_ platform-specific locations. It does this by allowing the library consumer to pick and choose different ‘strategies’ (ways of picking config locations) as they wish, without having to re-specify the name and author of the app

[2020-09-30 10:17] switowski opened #1698 "Python: incorrect virtual environment name in prompt (when using --prompt option)"
#### Current Behavior
When a new virtual environment is created with a custom prompt name (using the venv module and [`--prompt option`](https://docs.python.org/3/library/venv.html)):

[code]

the name of the virtual environment displayed in prompt is `venv` instead of `customname`.

That's because the custom prompt name gets hardcoded in the activation script:
[code]

and starship takes the name

[2020-09-30 10:41] kidonng commented on #1696
Temp fix:

[code]

[2020-09-30 14:19] noomly opened #1699 "`format` in starship's config file is ignored"
I was trying to move the order of the `time` module so that it remains right before pwd. However, it seems that whatever change I do to the `format` variable in `~/.config/starship.toml` gets ignored.

When I try to add the following to starship's config file

[code]

The `time` module is effectively shown on my prompt; so the config file is read. It looks like it's only the first occurrence of `f

[2020-09-30 14:20] srgvg opened #1700 "Starship Python Module expects "python" executable, but doesn't check for "python3" or "python2""
─────────────────────────────────────────────
⚠️ `starship bug-report` launches a page returning:
[code]
─────────────────────────────────────────────

## Bug Report

#### Current Behavior
Starship expects an executable called `python` to be available.

#### Expected Behavior
Starship should check for one of `python`, `python3` or `python2`.

#### Additional context/Screenshots
[code]

#### Possib

[2020-09-30 14:28] ATiltedTree commented on #1699
Hi!

You have to update starship since the `format` option was only added in the latest version (v0.45.0) and you seem to be running v0.44.0.

[2020-09-30 14:30] noomly commented on #1699
Oh I didn't notice that! It does work with the new version, thank you.

[2020-09-30 14:30] #1699 closed

[2020-09-30 15:06] numToStr opened #1701 "Executing command "node" failed by: Os"
## Bug Report

#### Current Behavior
When I open a prompt, first time, inside a node project, I get this error.
[code]

#### Expected Behavior
Shouldn't throw any error, even if something loaded lazily. Behaviour similar to `v0.44.0`.

#### Additional context/Screenshots
I am facing this issue after I updated from `v0.44.0` to `v0.45.0`. But with `v0.44.0` everything was working flawlessly.
I use

[2020-09-30 15:35] davidkna commented on #1617
Yes unfortunately the module has gotten slower with the the format string changes. #1470

[2020-09-30 16:14] #1696 closed